button {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 4.761904762%,
        #f3f3f3 4.761904762%,
        #f3f3f3 9.523809524%,
        #f2f2f2 9.523809524%,
        #f2f2f2 14.285714286%,
        #f2f2f2 14.285714286%,
        #f2f2f2 19.047619048%,
        #f1f1f1 19.047619048%,
        #f1f1f1 23.80952381%,
        #f0f0f0 23.80952381%,
        #f0f0f0 28.571428571%,
        #efefef 28.571428571%,
        #efefef 33.333333333%,
        #ededed 33.333333333%,
        #ededed 38.095238095%,
        #ececec 38.095238095%,
        #ececec 42.857142857%,
        #ebebeb 42.857142857%,
        #ebebeb 47.619047619%,
        #dddddd 47.619047619%,
        #dddddd 52.380952381%,
        #dbdbdb 52.380952381%,
        #dbdbdb 57.142857143%,
        #dadada 57.142857143%,
        #dadada 61.904761905%,
        #d8d8d8 61.904761905%,
        #d8d8d8 66.666666667%,
        #d6d6d6 66.666666667%,
        #d6d6d6 71.428571429%,
        #d4d4d4 71.428571429%,
        #d4d4d4 76.19047619%,
        #d2d2d2 76.19047619%,
        #d2d2d2 80.952380952%,
        #d1d1d1 80.952380952%,
        #d1d1d1 85.714285714%,
        #cfcfcf 85.714285714%,
        #cfcfcf 90.476190476%,
        #cecece 90.476190476%,
        #cecece 95.238095238%,
        #cdcdcd 95.238095238%,
        #cdcdcd 100%
    );
    border-radius: 3px;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.745),
        inset 0 0 0 1px #707070;
    color: #000000;
    font-size: 12px;
    margin: 0 4px 0 4px;
    min-width: 73px;
    padding: 2px 0 2px 0;
}

button.color > colorswatch {
    margin: 2px 5px 2px 5px;
}

button.combo {
    padding: 1px 3px 1px 2px;
    min-width: 0;
}

button.font > box.horizontal > box.horizontal > separator.vertical {
    border-image: none;
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #696969;
    margin: -1px 0 0 0;
}

button.font > box.horizontal > box.horizontal > separator.vertical:disabled {
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #f0f0f0;
}

filechooserbutton image {
    margin-left: -2px;
    margin-right: 2px;
}

button.font > box.horizontal > box.horizontal,
filechooserbutton > button.file > box.horizontal {
    padding: 2px 0 1px 0;
}

filechooserbutton > button.file > box.horizontal > separator.vertical {
    border-image: none;
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #696969;
    margin: -1px 2px 0 0;
}

filechooserbutton > button.file > box.horizontal > separator.vertical:disabled {
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #f0f0f0;
}

dialog .dialog-action-box button.text-button label {
    margin: 2px 0 0 0;
}

button:hover {
    background-image: linear-gradient(to bottom,
        #eef8fe 0%,
        #eef8fe 4.761904762%,
        #ecf7fc 4.761904762%,
        #ecf7fc 9.523809524%,
        #eaf6fd 9.523809524%,
        #eaf6fd 14.285714286%,
        #e8f6fd 14.285714286%,
        #e8f6fd 19.047619048%,
        #e6f5fd 19.047619048%,
        #e6f5fd 23.80952381%,
        #e4f4fc 23.80952381%,
        #e4f4fc 28.571428571%,
        #e1f3fc 28.571428571%,
        #e1f3fc 33.333333333%,
        #def2fc 33.333333333%,
        #def2fc 38.095238095%,
        #dcf1fc 38.095238095%,
        #dcf1fc 42.857142857%,
        #d9f0fc 42.857142857%,
        #d9f0fc 47.619047619%,
        #bee6fd 47.619047619%,
        #bee6fd 52.380952381%,
        #bce5fc 52.380952381%,
        #bce5fc 57.142857143%,
        #b9e3fb 57.142857143%,
        #b9e3fb 61.904761905%,
        #b5e2fa 61.904761905%,
        #b5e2fa 66.666666667%,
        #b2e0f9 66.666666667%,
        #b2e0f9 71.428571429%,
        #afdef8 71.428571429%,
        #afdef8 76.19047619%,
        #acdcf7 76.19047619%,
        #acdcf7 80.952380952%,
        #a9dbf6 80.952380952%,
        #a9dbf6 85.714285714%,
        #a7d9f5 85.714285714%,
        #a7d9f5 90.476190476%,
        #a4d7f4 90.476190476%,
        #a4d7f4 95.238095238%,
        #a1d6f3 95.238095238%,
        #a1d6f3 100%
    );
    border-radius: 3px;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.747),
        inset 0 0 0 1px #3c7fb1;
    color: #000000;
}

button:hover:active,
button:checked {
    background-image: linear-gradient(to bottom,
        #e5f4fc 0%,
        #e5f4fc 4.761904762%,
        #e5f4fc 4.761904762%,
        #e5f4fc 9.523809524%,
        #e5f4fc 9.523809524%,
        #e5f4fc 14.285714286%,
        #e5f4fc 14.285714286%,
        #e5f4fc 19.047619048%,
        #e1f2fb 19.047619048%,
        #e1f2fb 23.80952381%,
        #ddf0fa 23.80952381%,
        #ddf0fa 28.571428571%,
        #d8eefa 28.571428571%,
        #d8eefa 33.333333333%,
        #d3ecf9 33.333333333%,
        #d3ecf9 38.095238095%,
        #cee9f8 38.095238095%,
        #cee9f8 42.857142857%,
        #c9e7f7 42.857142857%,
        #c9e7f7 47.619047619%,
        #c4e5f6 47.619047619%,
        #c4e5f6 52.380952381%,
        #98d1ef 52.380952381%,
        #98d1ef 57.142857143%,
        #93ceed 57.142857143%,
        #93ceed 61.904761905%,
        #8ccaeb 61.904761905%,
        #8ccaeb 66.666666667%,
        #86c6e8 66.666666667%,
        #86c6e8 71.428571429%,
        #7fc2e5 71.428571429%,
        #7fc2e5 76.19047619%,
        #78bde2 76.19047619%,
        #78bde2 80.952380952%,
        #72b9df 80.952380952%,
        #72b9df 85.714285714%,
        #6db6dd 85.714285714%,
        #6db6dd 90.476190476%,
        #68b3db 90.476190476%,
        #68b3db 95.238095238%,
        #63b0d9 95.238095238%,
        #63b0d9 100%
    );
    border-radius: 3px;
    box-shadow:
        inset 0 2px 0 rgba(0,27,39,0.309),
        inset 2px 0 0 rgba(0,23,39,0.210),
        inset -2px 0 0 rgba(0,23,39,0.210),
        inset 0 0 0 1px #2c628b;
    color: #000000;
}

button:disabled {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 100%
    );
    border-radius: 3px;
    box-shadow:
        inset 0 0 0 2px #fcfcfc,
        inset 0 0 0 1px #adb2b5;
    color: #838383;
}

