filechooser placessidebar row:hover,
filechooser placessidebar row:backdrop:hover {
    background-image: linear-gradient(to bottom,
        rgba(161, 203, 255, 0.839215686) 0.000000000%,
        rgba(161, 203, 255, 0.839215686) 1.351351351%,
        rgba(249, 251, 253, 0.847058824) 1.351351351%,
        rgba(249, 251, 253, 0.847058824) 2.702702703%,
        rgba(244, 247, 250, 0.717647059) 2.702702703%,
        rgba(244, 247, 250, 0.717647059) 4.054054054%,
        rgba(242, 247, 251, 0.713725490) 4.054054054%,
        rgba(242, 247, 251, 0.713725490) 14.864864865%,
        rgba(240, 247, 251, 0.713725490) 14.864864865%,
        rgba(240, 247, 251, 0.713725490) 16.216216216%,
        rgba(240, 244, 251, 0.713725490) 16.216216216%,
        rgba(240, 244, 251, 0.713725490) 20.270270270%,
        rgba(239, 244, 251, 0.713725490) 20.270270270%,
        rgba(239, 244, 251, 0.713725490) 25.675675676%,
        rgba(239, 243, 251, 0.713725490) 25.675675676%,
        rgba(239, 243, 251, 0.713725490) 28.378378378%,
        rgba(236, 243, 252, 0.709803922) 28.378378378%,
        rgba(236, 243, 252, 0.709803922) 32.432432432%,
        rgba(235, 243, 252, 0.709803922) 32.432432432%,
        rgba(235, 243, 252, 0.709803922) 37.837837838%,
        rgba(235, 241, 252, 0.709803922) 37.837837838%,
        rgba(235, 241, 252, 0.709803922) 39.189189189%,
        rgba(233, 241, 252, 0.705882353) 39.189189189%,
        rgba(233, 241, 252, 0.705882353) 43.243243243%,
        rgba(231, 241, 253, 0.705882353) 43.243243243%,
        rgba(231, 241, 253, 0.705882353) 45.945945946%,
        rgba(231, 240, 253, 0.705882353) 45.945945946%,
        rgba(231, 240, 253, 0.705882353) 50.000000000%,
        rgba(228, 240, 253, 0.705882353) 50.000000000%,
        rgba(228, 240, 253, 0.705882353) 54.054054054%,
        rgba(227, 240, 253, 0.705882353) 54.054054054%,
        rgba(227, 240, 253, 0.705882353) 56.756756757%,
        rgba(227, 237, 253, 0.701960784) 56.756756757%,
        rgba(227, 237, 253, 0.701960784) 60.810810811%,
        rgba(224, 238, 254, 0.701960784) 60.810810811%,
        rgba(224, 238, 254, 0.701960784) 64.864864865%,
        rgba(223, 236, 254, 0.701960784) 64.864864865%,
        rgba(223, 236, 254, 0.701960784) 71.621621622%,
        rgba(221, 236, 254, 0.698039216) 71.621621622%,
        rgba(221, 236, 254, 0.698039216) 77.027027027%,
        rgba(219, 237, 254, 0.698039216) 77.027027027%,
        rgba(219, 237, 254, 0.698039216) 78.378378378%,
        rgba(219, 235, 254, 0.698039216) 78.378378378%,
        rgba(219, 235, 254, 0.698039216) 83.783783784%,
        rgba(217, 235, 255, 0.694117647) 83.783783784%,
        rgba(217, 235, 255, 0.694117647) 87.837837838%,
        rgba(217, 233, 255, 0.694117647) 87.837837838%,
        rgba(217, 233, 255, 0.694117647) 90.540540541%,
        rgba(216, 233, 255, 0.694117647) 90.540540541%,
        rgba(216, 233, 255, 0.694117647) 97.297297297%,
        rgba(235, 243, 254, 0.839215686) 97.297297297%,
        rgba(235, 243, 254, 0.839215686) 98.648648649%,
        rgba(161, 203, 255, 0.839215686) 98.648648649%,
        rgba(161, 203, 255, 0.839215686) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(249, 251, 253, 0.847058824),
        inset 2px 0 0 rgba(242, 246, 253, 0.843137255),
        inset -2px 0 0 rgba(242, 246, 253, 0.843137255),
        inset 0 -2px 0 rgba(235, 243, 254, 0.839215686),
        inset 0 0 0 1px rgba(161, 203, 255, 0.839215686);
}

filechooser placessidebar row:selected,
filechooser placessidebar row:backdrop:selected {
    background-image: linear-gradient(to bottom,
        rgba(113, 154, 202, 0.952941176) 0.000000000%,
        rgba(113, 154, 202, 0.952941176) 1.351351351%,
        rgba(231, 242, 252, 0.964705882) 1.351351351%,
        rgba(231, 242, 252, 0.964705882) 2.702702703%,
        rgba(211, 230, 252, 0.921568627) 2.702702703%,
        rgba(211, 230, 252, 0.921568627) 4.054054054%,
        rgba(211, 229, 252, 0.921568627) 4.054054054%,
        rgba(211, 229, 252, 0.921568627) 5.405405405%,
        rgba(210, 229, 252, 0.921568627) 5.405405405%,
        rgba(210, 229, 252, 0.921568627) 9.459459459%,
        rgba(208, 229, 252, 0.921568627) 9.459459459%,
        rgba(208, 229, 252, 0.921568627) 10.810810811%,
        rgba(208, 227, 252, 0.921568627) 10.810810811%,
        rgba(208, 227, 252, 0.921568627) 12.162162162%,
        rgba(207, 228, 252, 0.917647059) 12.162162162%,
        rgba(207, 228, 252, 0.917647059) 16.216216216%,
        rgba(207, 227, 252, 0.917647059) 16.216216216%,
        rgba(207, 227, 252, 0.917647059) 18.918918919%,
        rgba(206, 227, 252, 0.917647059) 18.918918919%,
        rgba(206, 227, 252, 0.917647059) 21.621621622%,
        rgba(204, 226, 252, 0.921568627) 21.621621622%,
        rgba(204, 226, 252, 0.921568627) 24.324324324%,
        rgba(203, 226, 252, 0.921568627) 24.324324324%,
        rgba(203, 226, 252, 0.921568627) 25.675675676%,
        rgba(203, 225, 252, 0.921568627) 25.675675676%,
        rgba(203, 225, 252, 0.921568627) 28.378378378%,
        rgba(203, 225, 252, 0.917647059) 28.378378378%,
        rgba(203, 225, 252, 0.917647059) 31.081081081%,
        rgba(200, 223, 252, 0.917647059) 31.081081081%,
        rgba(200, 223, 252, 0.917647059) 35.135135135%,
        rgba(200, 223, 253, 0.917647059) 35.135135135%,
        rgba(200, 223, 253, 0.917647059) 37.837837838%,
        rgba(199, 223, 253, 0.917647059) 37.837837838%,
        rgba(199, 223, 253, 0.917647059) 40.540540541%,
        rgba(197, 223, 253, 0.917647059) 40.540540541%,
        rgba(197, 223, 253, 0.917647059) 41.891891892%,
        rgba(196, 223, 253, 0.917647059) 41.891891892%,
        rgba(196, 223, 253, 0.917647059) 43.243243243%,
        rgba(196, 222, 253, 0.917647059) 43.243243243%,
        rgba(196, 222, 253, 0.917647059) 45.945945946%,
        rgba(196, 220, 253, 0.917647059) 45.945945946%,
        rgba(196, 220, 253, 0.917647059) 47.297297297%,
        rgba(195, 220, 253, 0.917647059) 47.297297297%,
        rgba(195, 220, 253, 0.917647059) 48.648648649%,
        rgba(193, 220, 253, 0.913725490) 48.648648649%,
        rgba(193, 220, 253, 0.913725490) 50.000000000%,
        rgba(193, 219, 253, 0.917647059) 50.000000000%,
        rgba(193, 219, 253, 0.917647059) 51.351351351%,
        rgba(192, 219, 253, 0.917647059) 51.351351351%,
        rgba(192, 219, 253, 0.917647059) 55.405405405%,
        rgba(191, 219, 253, 0.917647059) 55.405405405%,
        rgba(191, 219, 253, 0.917647059) 56.756756757%,
        rgba(190, 219, 253, 0.917647059) 56.756756757%,
        rgba(190, 219, 253, 0.917647059) 58.108108108%,
        rgba(190, 219, 253, 0.913725490) 58.108108108%,
        rgba(190, 219, 253, 0.913725490) 59.459459459%,
        rgba(189, 219, 253, 0.913725490) 59.459459459%,
        rgba(189, 219, 253, 0.913725490) 62.162162162%,
        rgba(189, 216, 253, 0.913725490) 62.162162162%,
        rgba(189, 216, 253, 0.913725490) 63.513513514%,
        rgba(188, 216, 253, 0.913725490) 63.513513514%,
        rgba(188, 216, 253, 0.913725490) 66.216216216%,
        rgba(186, 216, 253, 0.913725490) 66.216216216%,
        rgba(186, 216, 253, 0.913725490) 67.567567568%,
        rgba(185, 216, 253, 0.913725490) 67.567567568%,
        rgba(185, 216, 253, 0.913725490) 72.972972973%,
        rgba(184, 216, 253, 0.913725490) 72.972972973%,
        rgba(184, 216, 253, 0.913725490) 74.324324324%,
        rgba(184, 214, 253, 0.913725490) 74.324324324%,
        rgba(184, 214, 253, 0.913725490) 75.675675676%,
        rgba(182, 214, 253, 0.913725490) 75.675675676%,
        rgba(182, 214, 253, 0.913725490) 78.378378378%,
        rgba(181, 215, 254, 0.913725490) 78.378378378%,
        rgba(181, 215, 254, 0.913725490) 79.729729730%,
        rgba(181, 213, 254, 0.909803922) 79.729729730%,
        rgba(181, 213, 254, 0.909803922) 83.783783784%,
        rgba(180, 212, 254, 0.909803922) 83.783783784%,
        rgba(180, 212, 254, 0.909803922) 86.486486486%,
        rgba(178, 212, 254, 0.909803922) 86.486486486%,
        rgba(178, 212, 254, 0.909803922) 95.945945946%,
        rgba(178, 211, 254, 0.909803922) 95.945945946%,
        rgba(178, 211, 254, 0.909803922) 97.297297297%,
        rgba(213, 231, 252, 0.960784314) 97.297297297%,
        rgba(213, 231, 252, 0.960784314) 98.648648649%,
        rgba(113, 154, 202, 0.952941176) 98.648648649%,
        rgba(113, 154, 202, 0.952941176) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(231, 242, 252, 0.964705882),
        inset 2px 0 0 rgba(223, 237, 252, 0.960784314),
        inset -2px 0 0 rgba(223, 237, 252, 0.960784314),
        inset 0 -2px 0 rgba(213, 231, 252, 0.960784314),
        inset 0 0 0 1px rgba(113, 154, 202, 0.952941176);
}

filechooser placessidebar row:selected:hover,
filechooser placessidebar row:backdrop:selected:hover {
    background-image: linear-gradient(to bottom,
        rgba(122, 165, 220, 0.949019608) 0.000000000%,
        rgba(122, 165, 220, 0.949019608) 1.351351351%,
        rgba(239, 245, 255, 0.949019608) 1.351351351%,
        rgba(239, 245, 255, 0.949019608) 2.702702703%,
        rgba(230, 241, 255, 0.913725490) 2.702702703%,
        rgba(230, 241, 255, 0.913725490) 4.054054054%,
        rgba(230, 240, 255, 0.913725490) 4.054054054%,
        rgba(230, 240, 255, 0.913725490) 5.405405405%,
        rgba(229, 240, 255, 0.913725490) 5.405405405%,
        rgba(229, 240, 255, 0.913725490) 9.459459459%,
        rgba(226, 240, 255, 0.913725490) 9.459459459%,
        rgba(226, 240, 255, 0.913725490) 10.810810811%,
        rgba(226, 238, 255, 0.913725490) 10.810810811%,
        rgba(226, 238, 255, 0.913725490) 12.162162162%,
        rgba(226, 238, 255, 0.909803922) 12.162162162%,
        rgba(226, 238, 255, 0.909803922) 17.567567568%,
        rgba(226, 237, 255, 0.909803922) 17.567567568%,
        rgba(226, 237, 255, 0.909803922) 18.918918919%,
        rgba(225, 237, 255, 0.913725490) 18.918918919%,
        rgba(225, 237, 255, 0.913725490) 21.621621622%,
        rgba(223, 237, 255, 0.913725490) 21.621621622%,
        rgba(223, 237, 255, 0.913725490) 24.324324324%,
        rgba(222, 237, 255, 0.913725490) 24.324324324%,
        rgba(222, 237, 255, 0.913725490) 27.027027027%,
        rgba(222, 236, 255, 0.913725490) 27.027027027%,
        rgba(222, 236, 255, 0.913725490) 28.378378378%,
        rgba(221, 237, 255, 0.913725490) 28.378378378%,
        rgba(221, 237, 255, 0.913725490) 31.081081081%,
        rgba(219, 235, 255, 0.909803922) 31.081081081%,
        rgba(219, 235, 255, 0.909803922) 33.783783784%,
        rgba(218, 235, 255, 0.909803922) 33.783783784%,
        rgba(218, 235, 255, 0.909803922) 35.135135135%,
        rgba(218, 234, 255, 0.909803922) 35.135135135%,
        rgba(218, 234, 255, 0.909803922) 39.189189189%,
        rgba(215, 234, 255, 0.909803922) 39.189189189%,
        rgba(215, 234, 255, 0.909803922) 41.891891892%,
        rgba(214, 234, 255, 0.909803922) 41.891891892%,
        rgba(214, 234, 255, 0.909803922) 43.243243243%,
        rgba(214, 233, 255, 0.909803922) 43.243243243%,
        rgba(214, 233, 255, 0.909803922) 45.945945946%,
        rgba(213, 233, 255, 0.909803922) 45.945945946%,
        rgba(213, 233, 255, 0.909803922) 47.297297297%,
        rgba(213, 231, 255, 0.909803922) 47.297297297%,
        rgba(213, 231, 255, 0.909803922) 48.648648649%,
        rgba(212, 231, 255, 0.909803922) 48.648648649%,
        rgba(212, 231, 255, 0.909803922) 50.000000000%,
        rgba(211, 230, 255, 0.909803922) 50.000000000%,
        rgba(211, 230, 255, 0.909803922) 54.054054054%,
        rgba(210, 230, 255, 0.909803922) 54.054054054%,
        rgba(210, 230, 255, 0.909803922) 56.756756757%,
        rgba(208, 230, 255, 0.905882353) 56.756756757%,
        rgba(208, 230, 255, 0.905882353) 58.108108108%,
        rgba(208, 229, 255, 0.905882353) 58.108108108%,
        rgba(208, 229, 255, 0.905882353) 59.459459459%,
        rgba(207, 229, 255, 0.905882353) 59.459459459%,
        rgba(207, 229, 255, 0.905882353) 62.162162162%,
        rgba(207, 227, 255, 0.905882353) 62.162162162%,
        rgba(207, 227, 255, 0.905882353) 63.513513514%,
        rgba(206, 227, 255, 0.905882353) 63.513513514%,
        rgba(206, 227, 255, 0.905882353) 64.864864865%,
        rgba(205, 227, 255, 0.905882353) 64.864864865%,
        rgba(205, 227, 255, 0.905882353) 67.567567568%,
        rgba(204, 227, 255, 0.905882353) 67.567567568%,
        rgba(204, 227, 255, 0.905882353) 71.621621622%,
        rgba(203, 227, 255, 0.905882353) 71.621621622%,
        rgba(203, 227, 255, 0.905882353) 74.324324324%,
        rgba(201, 226, 255, 0.905882353) 74.324324324%,
        rgba(201, 226, 255, 0.905882353) 77.027027027%,
        rgba(200, 226, 255, 0.905882353) 77.027027027%,
        rgba(200, 226, 255, 0.905882353) 78.378378378%,
        rgba(200, 224, 255, 0.905882353) 78.378378378%,
        rgba(200, 224, 255, 0.905882353) 82.432432432%,
        rgba(199, 224, 255, 0.905882353) 82.432432432%,
        rgba(199, 224, 255, 0.905882353) 83.783783784%,
        rgba(199, 223, 255, 0.905882353) 83.783783784%,
        rgba(199, 223, 255, 0.905882353) 85.135135135%,
        rgba(197, 223, 255, 0.905882353) 85.135135135%,
        rgba(197, 223, 255, 0.905882353) 87.837837838%,
        rgba(196, 223, 255, 0.905882353) 87.837837838%,
        rgba(196, 223, 255, 0.905882353) 94.594594595%,
        rgba(195, 223, 255, 0.905882353) 94.594594595%,
        rgba(195, 223, 255, 0.905882353) 95.945945946%,
        rgba(195, 223, 255, 0.901960784) 95.945945946%,
        rgba(195, 223, 255, 0.901960784) 97.297297297%,
        rgba(217, 235, 255, 0.945098039) 97.297297297%,
        rgba(217, 235, 255, 0.945098039) 98.648648649%,
        rgba(122, 165, 220, 0.949019608) 98.648648649%,
        rgba(122, 165, 220, 0.949019608) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(239, 245, 255, 0.949019608),
        inset 2px 0 0 rgba(227, 240, 255, 0.945098039),
        inset -2px 0 0 rgba(227, 240, 255, 0.945098039),
        inset 0 -2px 0 rgba(217, 235, 255, 0.945098039),
        inset 0 0 0 1px rgba(122, 165, 220, 0.949019608);
}

filechooser placessidebar list {
    background-color: #fcfcfc;
}

filechooser placessidebar row {
    margin: -1px 1px;
    min-height: 21px;
}

filechooser placessidebar row label {
    color: #000000;
    font-size: 12px;
    margin: 0 0 0 5px;
}

filechooser placessidebar row button.sidebar-button image {
    margin: 0px;
}

filechooser placessidebar image {
    margin-left: 19px;
}

filechooser placessidebar separator {
    margin: -4px 0;
}

filechooser placessidebar separator.horizontal {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    min-height: 21px;
}

filechooser placessidebar viewport {
    background-color: #fcfcfc;
    padding-top: 6px;
}

filechooser placesview list {
    background-color: #fcfcfc;
}

filechooser placesview list > box > label {
    color: #006e12;
    font-size: 18px;
    margin: -2px 0 19px 6px;
}

filechooser placesview list > box > separator {
    border-bottom: 1px solid #fcfcfc;
    border-top: 1px solid #d6e5f5;
    margin: 0 5px 0 5px;
}

filechooser placesview list row widget box.horizontal label.dim-label {
    color: #6d6d6d;
}

filechooser separator.horizontal {
    border-top: 1px solid #d6e5f5;
    border-bottom: 1px solid #fcfcfc;
}

filechooser separator.vertical {
    border-left: 1px solid #d6e5f5;
    border-right: 1px solid #fcfcfc;
}

filechooser paned.horizontal > separator {
    background-image: linear-gradient(to right,
        #d6e5f5 0%,
        #d6e5f5 50%,
        #fcfcfc 50%,
        #fcfcfc 100%
    );
}

filechooser paned.vertical > separator {
    background-image: linear-gradient(to bottom,
        #d6e5f5 0%,
        #d6e5f5 50%,
        #fcfcfc 50%,
        #fcfcfc 100%
    );
}

filechooser paned.horizontal > box.vertical > revealer > box.vertical > stack {
    background-image: linear-gradient(to bottom,
        #fafcfd 0%,
        #fafcfd 3.225806452%,
        #fdfeff 3.225806452%,
        #fdfeff 6.451612903%,
        #f9fcff 6.451612903%,
        #f9fcff 9.677419355%,
        #f5faff 9.677419355%,
        #f5faff 12.903225806%,
        #f4f9ff 12.903225806%,
        #f4f9ff 16.129032258%,
        #f3f8fe 16.129032258%,
        #f3f8fe 19.35483871%,
        #f1f8fe 19.35483871%,
        #f1f8fe 22.580645161%,
        #f0f7fe 22.580645161%,
        #f0f7fe 25.806451613%,
        #eef6fd 25.806451613%,
        #eef6fd 29.032258065%,
        #edf5fd 29.032258065%,
        #edf5fd 32.258064516%,
        #ecf4fc 32.258064516%,
        #ecf4fc 35.483870968%,
        #eaf3fc 35.483870968%,
        #eaf3fc 38.709677419%,
        #e9f2fb 38.709677419%,
        #e9f2fb 41.935483871%,
        #e7f1fb 41.935483871%,
        #e7f1fb 45.161290323%,
        #e6f0fa 45.161290323%,
        #e6f0fa 48.387096774%,
        #dce6f4 48.387096774%,
        #dce6f4 51.612903226%,
        #dce6f4 54.838709677%,
        #dce6f4 58.064516129%,
        #dce6f4 61.290322581%,
        #dce6f4 64.516129032%,
        #dce6f4 67.741935484%,
        #dce6f5 67.741935484%,
        #dce6f5 70.967741935%,
        #dce6f5 74.193548387%,
        #dce7f5 74.193548387%,
        #dce7f5 77.419354839%,
        #dce7f5 80.64516129%,
        #dce7f5 83.870967742%,
        #dce7f6 83.870967742%,
        #dce7f6 87.096774194%,
        #dde9f7 87.096774194%,
        #dde9f7 90.322580645%,
        #e4effb 90.322580645%,
        #e4effb 93.548387097%,
        #cddaea 93.548387097%,
        #cddaea 96.774193548%,
        #a0afc3 96.774193548%,
        #a0afc3 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 31px;
    background-position: 0 0;
    color: #000000;
    margin-bottom: -4px;
    padding: 0;
}

filechooser .path-bar button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

filechooser .path-bar button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

filechooser .path-bar button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

filechooser .path-bar button:only-child {
    border-radius: 3px;
}

filechooser .path-bar button {
    background-image: linear-gradient(to bottom,
        #fafcfe 0%,
        #fafcfe 5%,
        #eaf1f9 5%,
        #eaf1f9 10%,
        #ebf2f9 10%,
        #ebf2f9 15%,
        #ecf2f9 15%,
        #ecf2f9 20%,
        #ecf2f9 20%,
        #ecf2f9 25%,
        #ecf2f9 25%,
        #ecf2f9 30%,
        #ecf2f9 30%,
        #ecf2f9 35%,
        #ecf2f9 35%,
        #ecf2f9 40%,
        #ecf2f9 40%,
        #ecf2f9 45%,
        #ecf2f9 45%,
        #ecf2f9 50%,
        #ecf2f9 50%,
        #ecf2f9 55%,
        #ecf2f9 55%,
        #ecf2f9 60%,
        #ecf2f9 60%,
        #ecf2f9 65%,
        #ecf2f9 65%,
        #ecf2f9 70%,
        #ecf2f9 70%,
        #ecf2f9 75%,
        #ecf2f9 75%,
        #ecf2f9 80%,
        #ebf2f9 80%,
        #ebf2f9 85%,
        #ebf2f9 85%,
        #ebf2f9 90%,
        #eaf1f9 90%,
        #eaf1f9 95%,
        #f9fbfd 95%,
        #f9fbfd 100%
    );
    border-top: 1px solid #636363;
    border-bottom: 1px solid #c8c8c8;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    font-size: 12px;
    margin: -2px 0 2px 0;
    padding: 1px 5px 2px 2px;
}

filechooser .path-bar button:first-child {
    border-left: 1px solid #808080;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

filechooser .path-bar button:last-child {
    border-right: 1px solid #808080;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

filechooser .path-bar button label {
    color: #000000;
}

filechooser .path-bar button:hover {
    background-image: linear-gradient(to bottom,
        #ecf7fe 0%,
        #ecf7fe 5%,
        #eaf6fd 5%,
        #eaf6fd 10%,
        #e8f6fd 10%,
        #e8f6fd 15%,
        #e6f5fd 15%,
        #e6f5fd 20%,
        #e4f4fd 20%,
        #e4f4fd 25%,
        #e2f3fc 25%,
        #e2f3fc 30%,
        #dff2fc 30%,
        #dff2fc 35%,
        #ddf1fc 35%,
        #ddf1fc 40%,
        #daf0fc 40%,
        #daf0fc 45%,
        #d7effc 45%,
        #d7effc 50%,
        #bde6fd 50%,
        #bde6fd 55%,
        #bae4fc 55%,
        #bae4fc 60%,
        #b7e3fb 60%,
        #b7e3fb 65%,
        #b4e1fa 65%,
        #b4e1fa 70%,
        #b1dff9 70%,
        #b1dff9 75%,
        #aedef8 75%,
        #aedef8 80%,
        #abdcf7 80%,
        #abdcf7 85%,
        #a9daf5 85%,
        #a9daf5 90%,
        #a6d9f4 90%,
        #a6d9f4 95%,
        #a3d7f3 95%,
        #a3d7f3 100%
    );
    box-shadow:
        inset 2px 0 0 rgba(255,255,254,0.742),
        inset -2px 0 0 rgba(255,255,254,0.742),
        inset 0 1px 0 rgba(255,255,254,0.748),
        inset 0 -1px 0 rgba(255,255,254,0.750),
        inset 1px 0 0 #3c7fb1,
        inset -1px 0 0 #3c7fb1;
}

filechooser .path-bar button:hover:active {
    background-image: linear-gradient(to bottom,
        #c2e4f6 0%,
        #c2e4f6 5%,
        #c2e4f6 5%,
        #c2e4f6 10%,
        #c2e4f6 10%,
        #c2e4f6 15%,
        #c2e4f6 15%,
        #c2e4f6 20%,
        #c2e4f6 20%,
        #c2e4f6 25%,
        #c2e4f6 25%,
        #c2e4f6 30%,
        #c2e4f6 30%,
        #c2e4f6 35%,
        #c2e4f6 35%,
        #c2e4f6 40%,
        #c2e4f6 40%,
        #c2e4f6 45%,
        #c2e4f6 45%,
        #c2e4f6 50%,
        #a9d9f2 50%,
        #a9d9f2 55%,
        #a9d9f2 55%,
        #a9d9f2 60%,
        #a6d7f2 60%,
        #a6d7f2 65%,
        #a3d5f1 65%,
        #a3d5f1 70%,
        #9fd4f0 70%,
        #9fd4f0 75%,
        #9cd2ee 75%,
        #9cd2ee 80%,
        #98d0ed 80%,
        #98d0ed 85%,
        #95ceec 85%,
        #95ceec 90%,
        #92cceb 90%,
        #92cceb 95%,
        #90cbeb 95%,
        #90cbeb 100%
    );
    box-shadow:
        inset 0 2px 0 rgba(1,28,49,0.145),
        inset 3px 0 0 rgba(1,28,49,0.145),
        inset 0 1px 0 rgba(5,32,50,0.3475),
        inset 2px 0 0 rgba(5,32,50,0.3475),
        inset 1px 0 0 #2c628b,
        inset -1px 0 0 #2c628b;
}

filechooser .path-bar button:hover:active label {
    margin: 1px -1px -1px 1px;
}

filechooser .path-bar button:backdrop {
    background-image: linear-gradient(to bottom,
        #fcfdfe 0%,
        #fcfdfe 5%,
        #f3f7fb 5%,
        #f3f7fb 10%,
        #f4f7fb 10%,
        #f4f7fb 15%,
        #f4f7fb 15%,
        #f4f7fb 20%,
        #f4f8fb 20%,
        #f4f8fb 25%,
        #f4f8fb 25%,
        #f4f8fb 30%,
        #f4f8fb 30%,
        #f4f8fb 35%,
        #f4f8fb 35%,
        #f4f8fb 40%,
        #f4f8fb 40%,
        #f4f8fb 45%,
        #f4f8fb 45%,
        #f4f8fb 50%,
        #f4f8fb 50%,
        #f4f8fb 55%,
        #f4f8fb 55%,
        #f4f8fb 60%,
        #f4f8fb 60%,
        #f4f8fb 65%,
        #f4f8fb 65%,
        #f4f8fb 70%,
        #f4f8fb 70%,
        #f4f8fb 75%,
        #f4f7fb 75%,
        #f4f7fb 80%,
        #f4f7fb 80%,
        #f4f7fb 85%,
        #f3f7fb 85%,
        #f3f7fb 90%,
        #f3f7fb 90%,
        #f3f7fb 95%,
        #fbfdfe 95%,
        #fbfdfe 100%
    );
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #bdbdbd;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    font-size: 12px;
    margin-left: 0px;
    padding: 1px 5px 2px 2px;
}

filechooser .path-bar button:first-child:backdrop {
    border-left: 1px solid #7c7c7c;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

filechooser .path-bar button:last-child:backdrop {
    border-right: 1px solid #787878;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

filechooser .path-bar button:backdrop label {
    color: #434e54;
}

filechooser button.popup.toggle {
    margin: -2px 0 2px 0;
}

filechooser button.popup.toggle:hover:active image {
    margin: 1px -1px -1px 1px;
}
