levelbar.horizontal trough {
    background-image:
        url("../../assets/ui/bars/trough-h-left.png"),
        url("../../assets/ui/bars/trough-h-right.png"),
        url("../../assets/ui/bars/trough-h-center.png");
    background-position: 0 0, 100% 0, 9px 0;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 9px 14px, 9px 14px, 1px 14px;
    min-height: 14px;
}

levelbar.horizontal trough block.filled {
    background-image:
        url("../../assets/ui/bars/green-h-left.png"),
        url("../../assets/ui/bars/green-h-right.png"),
        url("../../assets/ui/bars/green-h-center.png");
    background-position: left center, right center, 25px center;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 25px 14px, 25px 14px, 1px 14px;
    margin: 1px;
    min-height: 12px;
}

levelbar.horizontal trough block.filled.high {
    background-image:
        url("../../assets/ui/bars/yellow-h-left.png"),
        url("../../assets/ui/bars/yellow-h-right.png"),
        url("../../assets/ui/bars/yellow-h-center.png");
}

levelbar.horizontal trough block.filled.low {
    background-image:
        url("../../assets/ui/bars/red-h-left.png"),
        url("../../assets/ui/bars/red-h-right.png"),
        url("../../assets/ui/bars/red-h-center.png");
}

levelbar.vertical trough {
    background-image:
        url("../../assets/ui/bars/trough-v-top.png"),
        url("../../assets/ui/bars/trough-v-bottom.png"),
        url("../../assets/ui/bars/trough-v-center.png");
    background-position: 0 0, 0 100%, 0 9px;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-size: 14px 9px, 14px 9px, 14px 1px;
    min-width: 14px;
}

levelbar.vertical trough block.filled {
    background-image:
        url("../../assets/ui/bars/green-v-top.png"),
        url("../../assets/ui/bars/green-v-bottom.png"),
        url("../../assets/ui/bars/green-v-center.png");
    background-position: center top, center bottom, center 25px;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-size: 14px 25px, 14px 25px, 14px 1px;
    margin: 1px;
    min-width: 12px;
}

levelbar.vertical trough block.filled.high {
    background-image:
        url("../../assets/ui/bars/yellow-v-top.png"),
        url("../../assets/ui/bars/yellow-v-bottom.png"),
        url("../../assets/ui/bars/yellow-v-center.png");
}

levelbar.vertical trough block.filled.low {
    background-image:
        url("../../assets/ui/bars/red-v-top.png"),
        url("../../assets/ui/bars/red-v-bottom.png"),
        url("../../assets/ui/bars/red-v-center.png");
}
