.background menuitem label {
    font-size: 12px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
}

.background.csd.popup menuitem label {
    box-shadow:
        inset 2px 0 0 #ffffff,
        inset 1px 0 0 #e2e3e3;
    margin-left: 4px;
    min-height: 22px;
    padding: 0 0 0 7px;
}

menu {
    background-color: #f0f0f0;
    border: 1px solid #979797;
    box-shadow:
        inset 0 0 0 2px #f5f5f5;
    color: #000000;
    padding: 3px;
}

menu separator {
    border-top: 1px solid #e2e3e3;
    box-shadow:
        inset 0 1px 0 #ffffff;
    margin: 0 0 -6px 27px;
    padding: 3px 0;
}

menubar {
    background-image: linear-gradient(to bottom,
        #fefeff 0%,
        #fefeff 5.263157895%,
        #fcfdfe 5.263157895%,
        #fcfdfe 10.526315789%,
        #f6f8fc 10.526315789%,
        #f6f8fc 15.789473684%,
        #f2f5fa 15.789473684%,
        #f2f5fa 21.052631579%,
        #eff2f9 21.052631579%,
        #eff2f9 26.315789474%,
        #e8ecf6 26.315789474%,
        #e8ecf6 31.578947368%,
        #e5eaf5 31.578947368%,
        #e5eaf5 36.842105263%,
        #d4dbed 36.842105263%,
        #d4dbed 42.105263158%,
        #d4dbee 42.105263158%,
        #d4dbee 47.368421053%,
        #d6ddef 47.368421053%,
        #d6ddef 52.631578947%,
        #d7def0 52.631578947%,
        #d7def0 57.894736842%,
        #d9dff0 57.894736842%,
        #d9dff0 63.157894737%,
        #dae0f1 63.157894737%,
        #dae0f1 68.421052632%,
        #dce2f3 68.421052632%,
        #dce2f3 73.684210526%,
        #dee3f3 73.684210526%,
        #dee3f3 78.947368421%,
        #dfe4f4 78.947368421%,
        #dfe4f4 84.210526316%,
        #e0e5f5 84.210526316%,
        #e0e5f5 89.473684211%,
        #e1e6f6 89.473684211%,
        #e1e6f6 94.736842105%,
        #b6bccc 94.736842105%,
        #b6bccc 100%
    );
    box-shadow:
        inset -1px 0 0 rgba(255,255,255,0.484),
        inset 1px 0 0 rgba(255,255,255,0.484),
        inset 0 -1px 0 #b6bccc;
}

menubar > menuitem:hover {
    background-color: rgba(0, 0, 0, 0.15);
    background-image: none;
    border-radius: 3px;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.55),
        inset 0 2px 0 rgba(0, 0, 0, 0.25),
        inset 2px 0 0 rgba(0, 0, 0, 0.25),
        inset 0 3px 0 rgba(0, 0, 0, 0.15),
        inset 3px 0 0 rgba(0, 0, 0, 0.15);
}

menu > menuitem label {
    font-size: 12px;
    margin-top: -1px;
}

menu > menuitem:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
        rgba(151, 196, 250, 0.788) 0.000000000%,
        rgba(151, 196, 250, 0.788) 1.351351351%,
        rgba(251, 253, 255, 0.729) 1.351351351%,
        rgba(251, 253, 255, 0.729) 2.702702703%,
        rgba(247, 250, 255, 0.522) 2.702702703%,
        rgba(247, 250, 255, 0.522) 4.054054054%,
        rgba(245, 250, 255, 0.522) 4.054054054%,
        rgba(245, 250, 255, 0.522) 14.864864865%,
        rgba(242, 250, 255, 0.522) 14.864864865%,
        rgba(242, 250, 255, 0.522) 16.216216216%,
        rgba(242, 247, 255, 0.522) 16.216216216%,
        rgba(242, 247, 255, 0.522) 20.270270270%,
        rgba(240, 247, 255, 0.522) 20.270270270%,
        rgba(240, 247, 255, 0.522) 25.675675676%,
        rgba(240, 245, 255, 0.522) 25.675675676%,
        rgba(240, 245, 255, 0.522) 28.378378378%,
        rgba(237, 245, 255, 0.522) 28.378378378%,
        rgba(237, 245, 255, 0.522) 32.432432432%,
        rgba(235, 245, 255, 0.522) 32.432432432%,
        rgba(235, 245, 255, 0.522) 37.837837838%,
        rgba(235, 242, 255, 0.522) 37.837837838%,
        rgba(235, 242, 255, 0.522) 39.189189189%,
        rgba(232, 242, 255, 0.522) 39.189189189%,
        rgba(232, 242, 255, 0.522) 43.243243243%,
        rgba(230, 242, 255, 0.522) 43.243243243%,
        rgba(230, 242, 255, 0.522) 45.945945946%,
        rgba(230, 240, 255, 0.522) 45.945945946%,
        rgba(230, 240, 255, 0.522) 50.000000000%,
        rgba(227, 240, 255, 0.522) 50.000000000%,
        rgba(227, 240, 255, 0.522) 54.054054054%,
        rgba(225, 240, 255, 0.522) 54.054054054%,
        rgba(225, 240, 255, 0.522) 56.756756757%,
        rgba(225, 237, 255, 0.522) 56.756756757%,
        rgba(225, 237, 255, 0.522) 60.810810811%,
        rgba(222, 237, 255, 0.522) 60.810810811%,
        rgba(222, 237, 255, 0.522) 64.864864865%,
        rgba(220, 235, 255, 0.522) 64.864864865%,
        rgba(220, 235, 255, 0.522) 71.621621622%,
        rgba(217, 235, 255, 0.522) 71.621621622%,
        rgba(217, 235, 255, 0.522) 77.027027027%,
        rgba(215, 235, 255, 0.522) 77.027027027%,
        rgba(215, 235, 255, 0.522) 78.378378378%,
        rgba(215, 232, 255, 0.522) 78.378378378%,
        rgba(215, 232, 255, 0.522) 83.783783784%,
        rgba(212, 232, 255, 0.522) 83.783783784%,
        rgba(212, 232, 255, 0.522) 87.837837838%,
        rgba(212, 230, 255, 0.522) 87.837837838%,
        rgba(212, 230, 255, 0.522) 90.540540541%,
        rgba(210, 230, 255, 0.522) 90.540540541%,
        rgba(210, 230, 255, 0.522) 97.297297297%,
        rgba(235, 243, 255, 0.729) 97.297297297%,
        rgba(235, 243, 255, 0.729) 98.648648649%,
        rgba(151, 196, 250, 0.788) 98.648648649%,
        rgba(151, 196, 250, 0.788) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(251, 253, 255, 0.729),
        inset 2px 0 0 rgba(243, 248, 255, 0.729),
        inset -2px 0 0 rgba(243, 248, 255, 0.729),
        inset 0 -2px 0 rgba(235, 243, 255, 0.729),
        inset 0 0 0 1px rgba(151, 196, 250, 0.788);
    border: none;
    border-radius: 3px;
    color: #000000;
    padding: 0;
}

menu > menuitem:disabled {
    color: #6d6d6d;
}

menuitem check,
menuitem check:hover,
menuitem check:active,
menuitem check:disabled,
menuitem check:indeterminate,
menuitem check:indeterminate:hover,
menuitem check:indeterminate:active,
menuitem check:indeterminate:disabled,
menuitem radio,
menuitem radio:hover,
menuitem radio:active,
menuitem radio:disabled,
menuitem radio:indeterminate,
menuitem radio:indeterminate:hover,
menuitem radio:indeterminate:active,
menuitem radio:indeterminate:disabled {
    -gtk-icon-source: none;
    padding: 0;
}

menuitem check:checked,
menuitem check:checked:hover,
menuitem check:checked:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/menu/menu-check-checked.png"));
    min-height: 22px;
    min-width: 22px;
}

menuitem check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/menu/menu-check-disabled.png"));
    min-height: 22px;
    min-width: 22px;
}

menuitem radio:checked,
menuitem radio:checked:hover,
menuitem radio:checked:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/menu/menu-radio-checked.png"));
    min-height: 22px;
    min-width: 22px;
}

menuitem radio:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/menu/menu-radio-disabled.png"));
    min-height: 22px;
    min-width: 22px;
}
