notebook > header {
    background-color: #f0f0f0;
}

notebook > header.top > tabs > tab {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 5.263157895%,
        #f3f3f3 5.263157895%,
        #f3f3f3 10.526315789%,
        #f2f2f2 10.526315789%,
        #f2f2f2 15.789473684%,
        #f2f2f2 15.789473684%,
        #f2f2f2 21.052631579%,
        #f1f1f1 21.052631579%,
        #f1f1f1 26.315789474%,
        #f0f0f0 26.315789474%,
        #f0f0f0 31.578947368%,
        #efefef 31.578947368%,
        #efefef 36.842105263%,
        #ededed 36.842105263%,
        #ededed 42.105263158%,
        #ececec 42.105263158%,
        #ececec 47.368421053%,
        #ebebeb 47.368421053%,
        #ebebeb 52.631578947%,
        #dddddd 52.631578947%,
        #dddddd 57.894736842%,
        #dbdbdb 57.894736842%,
        #dbdbdb 63.157894737%,
        #dadada 63.157894737%,
        #dadada 68.421052632%,
        #d8d8d8 68.421052632%,
        #d8d8d8 73.684210526%,
        #d4d4d4 73.684210526%,
        #d4d4d4 78.947368421%,
        #d2d2d2 78.947368421%,
        #d2d2d2 84.210526316%,
        #d1d1d1 84.210526316%,
        #d1d1d1 89.473684211%,
        #cfcfcf 89.473684211%,
        #cfcfcf 94.736842105%,
        #cecece 94.736842105%,
        #cecece 100%
    );
    box-shadow:
        inset 0 2px 0 rgba(255, 255, 255, 0.75),
        inset -2px 0 0 rgba(255, 255, 255, 0.75),
        inset 2px 0 0 rgba(255, 255, 255, 0.75),
        inset 0 0 0 1px #898c95;
    color: #000000;
    font-size: 12px;
    margin: 0 0 -1px 0;
    padding: 1px 7px 1px 7px;
}

notebook > header.top > tabs > tab:hover {
    background-image: linear-gradient(to bottom,
        #eef6fd 0%,
        #eef6fd 5.263157895%,
        #ecf6fd 5.263157895%,
        #ecf6fd 10.526315789%,
        #eaf6fd 10.526315789%,
        #eaf6fd 15.789473684%,
        #e8f6fd 15.789473684%,
        #e8f6fd 21.052631579%,
        #e6f5fd 21.052631579%,
        #e6f5fd 26.315789474%,
        #e4f4fc 26.315789474%,
        #e4f4fc 31.578947368%,
        #e1f3fc 31.578947368%,
        #e1f3fc 36.842105263%,
        #def2fc 36.842105263%,
        #def2fc 42.105263158%,
        #dcf1fc 42.105263158%,
        #dcf1fc 47.368421053%,
        #d9f0fc 47.368421053%,
        #d9f0fc 52.631578947%,
        #bee6fd 52.631578947%,
        #bee6fd 57.894736842%,
        #bce5fc 57.894736842%,
        #bce5fc 63.157894737%,
        #b9e3fb 63.157894737%,
        #b9e3fb 68.421052632%,
        #b5e2fa 68.421052632%,
        #b5e2fa 73.684210526%,
        #afdef8 73.684210526%,
        #afdef8 78.947368421%,
        #acdcf7 78.947368421%,
        #acdcf7 84.210526316%,
        #a9dbf6 84.210526316%,
        #a9dbf6 89.473684211%,
        #a7d9f5 89.473684211%,
        #a7d9f5 94.736842105%,
        #a5d7f4 94.736842105%,
        #a5d7f4 100%
    );
    box-shadow:
        inset 0 2px 0 rgba(255, 255, 255, 0.75),
        inset -2px 0 0 rgba(255, 255, 255, 0.75),
        inset 2px 0 0 rgba(255, 255, 255, 0.75),
        inset -1px 0 0 #3c7fb1,
        inset 1px 0 0 #3c7fb1,
        inset 0 1px 0 #3c7fb1,
        inset 0 -1px 0 #898c95;
}

notebook > header.top > tabs > tab:checked {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 100%
    );
    box-shadow:
        inset 0 -1px 0 #ffffff,
        inset -1px 0 0 #898c95,
        inset 1px 0 0 #898c95,
        inset 0 1px 0 #898c95;
}

notebook > header.bottom > tabs > tab {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 5.263157895%,
        #f3f3f3 5.263157895%,
        #f3f3f3 10.526315789%,
        #f2f2f2 10.526315789%,
        #f2f2f2 15.789473684%,
        #f2f2f2 15.789473684%,
        #f2f2f2 21.052631579%,
        #f1f1f1 21.052631579%,
        #f1f1f1 26.315789474%,
        #f0f0f0 26.315789474%,
        #f0f0f0 31.578947368%,
        #efefef 31.578947368%,
        #efefef 36.842105263%,
        #ededed 36.842105263%,
        #ededed 42.105263158%,
        #ececec 42.105263158%,
        #ececec 47.368421053%,
        #ebebeb 47.368421053%,
        #ebebeb 52.631578947%,
        #dddddd 52.631578947%,
        #dddddd 57.894736842%,
        #dbdbdb 57.894736842%,
        #dbdbdb 63.157894737%,
        #dadada 63.157894737%,
        #dadada 68.421052632%,
        #d8d8d8 68.421052632%,
        #d8d8d8 73.684210526%,
        #d4d4d4 73.684210526%,
        #d4d4d4 78.947368421%,
        #d2d2d2 78.947368421%,
        #d2d2d2 84.210526316%,
        #d1d1d1 84.210526316%,
        #d1d1d1 89.473684211%,
        #cfcfcf 89.473684211%,
        #cfcfcf 94.736842105%,
        #cecece 94.736842105%,
        #cecece 100%
    );
    box-shadow:
        inset 0 -2px 0 rgba(255, 255, 255, 0.75),
        inset -2px 0 0 rgba(255, 255, 255, 0.75),
        inset 2px 0 0 rgba(255, 255, 255, 0.75),
        inset 0 0 0 1px #898c95;
    color: #000000;
    font-size: 12px;
    margin: -1px 0 0 0;
    padding: 1px 7px 1px 7px;
}

notebook > header.bottom > tabs > tab:hover {
    background-image: linear-gradient(to bottom,
        #eef6fd 0%,
        #eef6fd 5.263157895%,
        #ecf6fd 5.263157895%,
        #ecf6fd 10.526315789%,
        #eaf6fd 10.526315789%,
        #eaf6fd 15.789473684%,
        #e8f6fd 15.789473684%,
        #e8f6fd 21.052631579%,
        #e6f5fd 21.052631579%,
        #e6f5fd 26.315789474%,
        #e4f4fc 26.315789474%,
        #e4f4fc 31.578947368%,
        #e1f3fc 31.578947368%,
        #e1f3fc 36.842105263%,
        #def2fc 36.842105263%,
        #def2fc 42.105263158%,
        #dcf1fc 42.105263158%,
        #dcf1fc 47.368421053%,
        #d9f0fc 47.368421053%,
        #d9f0fc 52.631578947%,
        #bee6fd 52.631578947%,
        #bee6fd 57.894736842%,
        #bce5fc 57.894736842%,
        #bce5fc 63.157894737%,
        #b9e3fb 63.157894737%,
        #b9e3fb 68.421052632%,
        #b5e2fa 68.421052632%,
        #b5e2fa 73.684210526%,
        #afdef8 73.684210526%,
        #afdef8 78.947368421%,
        #acdcf7 78.947368421%,
        #acdcf7 84.210526316%,
        #a9dbf6 84.210526316%,
        #a9dbf6 89.473684211%,
        #a7d9f5 89.473684211%,
        #a7d9f5 94.736842105%,
        #a5d7f4 94.736842105%,
        #a5d7f4 100%
    );
    box-shadow:
        inset 0 -2px 0 rgba(255, 255, 255, 0.75),
        inset -2px 0 0 rgba(255, 255, 255, 0.75),
        inset 2px 0 0 rgba(255, 255, 255, 0.75),
        inset -1px 0 0 #3c7fb1,
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #3c7fb1,
        inset 0 1px 0 #898c95;
}

notebook > header.bottom > tabs > tab:checked {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 100%
    );
    box-shadow:
        inset 0 1px 0 #ffffff,
        inset -1px 0 0 #898c95,
        inset 1px 0 0 #898c95,
        inset 0 -1px 0 #898c95;
}

notebook > header.left > tabs > tab {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 5.263157895%,
        #f3f3f3 5.263157895%,
        #f3f3f3 10.526315789%,
        #f2f2f2 10.526315789%,
        #f2f2f2 15.789473684%,
        #f2f2f2 15.789473684%,
        #f2f2f2 21.052631579%,
        #f1f1f1 21.052631579%,
        #f1f1f1 26.315789474%,
        #f0f0f0 26.315789474%,
        #f0f0f0 31.578947368%,
        #efefef 31.578947368%,
        #efefef 36.842105263%,
        #ededed 36.842105263%,
        #ededed 42.105263158%,
        #ececec 42.105263158%,
        #ececec 47.368421053%,
        #ebebeb 47.368421053%,
        #ebebeb 52.631578947%,
        #dddddd 52.631578947%,
        #dddddd 57.894736842%,
        #dbdbdb 57.894736842%,
        #dbdbdb 63.157894737%,
        #dadada 63.157894737%,
        #dadada 68.421052632%,
        #d8d8d8 68.421052632%,
        #d8d8d8 73.684210526%,
        #d4d4d4 73.684210526%,
        #d4d4d4 78.947368421%,
        #d2d2d2 78.947368421%,
        #d2d2d2 84.210526316%,
        #d1d1d1 84.210526316%,
        #d1d1d1 89.473684211%,
        #cfcfcf 89.473684211%,
        #cfcfcf 94.736842105%,
        #cecece 94.736842105%,
        #cecece 100%
    );
    box-shadow:
        inset 0 -2px 0 rgba(255, 255, 255, 0.75),
        inset 0 2px 0 rgba(255, 255, 255, 0.75),
        inset 2px 0 0 rgba(255, 255, 255, 0.75),
        inset 0 0 0 1px #898c95;
    color: #000000;
    font-size: 12px;
    margin: 0 -1px 0 0;
    padding: 1px 7px 1px 7px;
}

notebook > header.left > tabs > tab:hover {
    background-image: linear-gradient(to bottom,
        #eef6fd 0%,
        #eef6fd 5.263157895%,
        #ecf6fd 5.263157895%,
        #ecf6fd 10.526315789%,
        #eaf6fd 10.526315789%,
        #eaf6fd 15.789473684%,
        #e8f6fd 15.789473684%,
        #e8f6fd 21.052631579%,
        #e6f5fd 21.052631579%,
        #e6f5fd 26.315789474%,
        #e4f4fc 26.315789474%,
        #e4f4fc 31.578947368%,
        #e1f3fc 31.578947368%,
        #e1f3fc 36.842105263%,
        #def2fc 36.842105263%,
        #def2fc 42.105263158%,
        #dcf1fc 42.105263158%,
        #dcf1fc 47.368421053%,
        #d9f0fc 47.368421053%,
        #d9f0fc 52.631578947%,
        #bee6fd 52.631578947%,
        #bee6fd 57.894736842%,
        #bce5fc 57.894736842%,
        #bce5fc 63.157894737%,
        #b9e3fb 63.157894737%,
        #b9e3fb 68.421052632%,
        #b5e2fa 68.421052632%,
        #b5e2fa 73.684210526%,
        #afdef8 73.684210526%,
        #afdef8 78.947368421%,
        #acdcf7 78.947368421%,
        #acdcf7 84.210526316%,
        #a9dbf6 84.210526316%,
        #a9dbf6 89.473684211%,
        #a7d9f5 89.473684211%,
        #a7d9f5 94.736842105%,
        #a5d7f4 94.736842105%,
        #a5d7f4 100%
    );
    box-shadow:
        inset 0 -2px 0 rgba(255, 255, 255, 0.75),
        inset 0 2px 0 rgba(255, 255, 255, 0.75),
        inset 2px 0 0 rgba(255, 255, 255, 0.75),
        inset 0 -1px 0 #3c7fb1,
        inset 0 1px 0 #3c7fb1,
        inset 1px 0 0 #3c7fb1,
        inset -1px 0 0 #898c95;
}

notebook > header.left > tabs > tab:checked {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 100%
    );
    box-shadow:
        inset -1px 0 0 #ffffff,
        inset 1px 0 0 #898c95,
        inset 0 1px 0 #898c95,
        inset 0 -1px 0 #898c95;
}

notebook > header.right > tabs > tab {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 5.263157895%,
        #f3f3f3 5.263157895%,
        #f3f3f3 10.526315789%,
        #f2f2f2 10.526315789%,
        #f2f2f2 15.789473684%,
        #f2f2f2 15.789473684%,
        #f2f2f2 21.052631579%,
        #f1f1f1 21.052631579%,
        #f1f1f1 26.315789474%,
        #f0f0f0 26.315789474%,
        #f0f0f0 31.578947368%,
        #efefef 31.578947368%,
        #efefef 36.842105263%,
        #ededed 36.842105263%,
        #ededed 42.105263158%,
        #ececec 42.105263158%,
        #ececec 47.368421053%,
        #ebebeb 47.368421053%,
        #ebebeb 52.631578947%,
        #dddddd 52.631578947%,
        #dddddd 57.894736842%,
        #dbdbdb 57.894736842%,
        #dbdbdb 63.157894737%,
        #dadada 63.157894737%,
        #dadada 68.421052632%,
        #d8d8d8 68.421052632%,
        #d8d8d8 73.684210526%,
        #d4d4d4 73.684210526%,
        #d4d4d4 78.947368421%,
        #d2d2d2 78.947368421%,
        #d2d2d2 84.210526316%,
        #d1d1d1 84.210526316%,
        #d1d1d1 89.473684211%,
        #cfcfcf 89.473684211%,
        #cfcfcf 94.736842105%,
        #cecece 94.736842105%,
        #cecece 100%
    );
    box-shadow:
        inset 0 -2px 0 rgba(255, 255, 255, 0.75),
        inset 0 2px 0 rgba(255, 255, 255, 0.75),
        inset -2px 0 0 rgba(255, 255, 255, 0.75),
        inset 0 0 0 1px #898c95;
    color: #000000;
    font-size: 12px;
    margin: 0 0 0 -1px;
    padding: 1px 7px 1px 7px;
}

notebook > header.right > tabs > tab:hover {
    background-image: linear-gradient(to bottom,
        #eef6fd 0%,
        #eef6fd 5.263157895%,
        #ecf6fd 5.263157895%,
        #ecf6fd 10.526315789%,
        #eaf6fd 10.526315789%,
        #eaf6fd 15.789473684%,
        #e8f6fd 15.789473684%,
        #e8f6fd 21.052631579%,
        #e6f5fd 21.052631579%,
        #e6f5fd 26.315789474%,
        #e4f4fc 26.315789474%,
        #e4f4fc 31.578947368%,
        #e1f3fc 31.578947368%,
        #e1f3fc 36.842105263%,
        #def2fc 36.842105263%,
        #def2fc 42.105263158%,
        #dcf1fc 42.105263158%,
        #dcf1fc 47.368421053%,
        #d9f0fc 47.368421053%,
        #d9f0fc 52.631578947%,
        #bee6fd 52.631578947%,
        #bee6fd 57.894736842%,
        #bce5fc 57.894736842%,
        #bce5fc 63.157894737%,
        #b9e3fb 63.157894737%,
        #b9e3fb 68.421052632%,
        #b5e2fa 68.421052632%,
        #b5e2fa 73.684210526%,
        #afdef8 73.684210526%,
        #afdef8 78.947368421%,
        #acdcf7 78.947368421%,
        #acdcf7 84.210526316%,
        #a9dbf6 84.210526316%,
        #a9dbf6 89.473684211%,
        #a7d9f5 89.473684211%,
        #a7d9f5 94.736842105%,
        #a5d7f4 94.736842105%,
        #a5d7f4 100%
    );
    box-shadow:
        inset 0 -2px 0 rgba(255, 255, 255, 0.75),
        inset 0 2px 0 rgba(255, 255, 255, 0.75),
        inset -2px 0 0 rgba(255, 255, 255, 0.75),
        inset 0 -1px 0 #3c7fb1,
        inset 0 1px 0 #3c7fb1,
        inset -1px 0 0 #3c7fb1,
        inset 1px 0 0 #898c95;
}

notebook > header.right > tabs > tab:checked {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 100%
    );
    box-shadow:
        inset 1px 0 0 #ffffff,
        inset -1px 0 0 #898c95,
        inset 0 1px 0 #898c95,
        inset 0 -1px 0 #898c95;
}

notebook > stack {
    box-shadow:
        inset 0 0 0 1px #898c95;
}

notebook button.flat.image-button {
    background-color: transparent;
    background-image: url("../../assets/ui/buttons/small-close-button_normal.png" );
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: transparent;
    margin: 0;
	min-height: 0px;
	min-width: 0px;
    padding: 0;
}

notebook button.flat.image-button:hover {
    background-color: transparent;
    background-image: url("../../assets/ui/buttons/small-close-button_hover.png" );
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: transparent;
    margin: 0;
	min-height: 0px;
	min-width: 0px;
    padding: 0;
}

notebook button.flat.image-button:hover:active {
    background-color: transparent;
    background-image: url("../../assets/ui/buttons/small-close-button_pressed.png" );
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: transparent;
    margin: 0;
	min-height: 0px;
	min-width: 0px;
    padding: 0;
}

notebook button.flat.image-button image {
    opacity: 0;
}
