scale {
    padding: 10px;
}

scale.horizontal slider {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 5.555555556%,
        #f3f3f3 5.555555556%,
        #f3f3f3 11.111111111%,
        #f2f2f2 11.111111111%,
        #f2f2f2 16.666666667%,
        #f1f1f1 16.666666667%,
        #f1f1f1 22.222222222%,
        #f0f0f0 22.222222222%,
        #f0f0f0 27.777777778%,
        #efefef 27.777777778%,
        #efefef 33.333333333%,
        #eeeeee 33.333333333%,
        #eeeeee 38.888888889%,
        #ececec 38.888888889%,
        #ececec 44.444444444%,
        #ebebeb 44.444444444%,
        #ebebeb 50%,
        #dbdbdb 50%,
        #dbdbdb 55.555555556%,
        #d9d9d9 55.555555556%,
        #d9d9d9 61.111111111%,
        #d7d7d7 61.111111111%,
        #d7d7d7 66.666666667%,
        #d6d6d6 66.666666667%,
        #d6d6d6 72.222222222%,
        #d4d4d4 72.222222222%,
        #d4d4d4 77.777777778%,
        #d2d2d2 77.777777778%,
        #d2d2d2 83.333333333%,
        #d0d0d0 83.333333333%,
        #d0d0d0 88.888888889%,
        #cecece 88.888888889%,
        #cecece 94.444444444%,
        #cccccc 94.444444444%,
        #cccccc 100%
    );
    border-radius: 2px;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.748),
        inset 0 0 0 1px #707070;
    margin: -8px 0;
    min-height: 18px;
    min-width: 10px;
}

scale.horizontal slider:hover {
    background-image: linear-gradient(to bottom,
        #edf8fe 0%,
        #edf8fe 5.555555556%,
        #ebf7fe 5.555555556%,
        #ebf7fe 11.111111111%,
        #e9f6fd 11.111111111%,
        #e9f6fd 16.666666667%,
        #e7f5fd 16.666666667%,
        #e7f5fd 22.222222222%,
        #e5f4fd 22.222222222%,
        #e5f4fd 27.777777778%,
        #e2f3fc 27.777777778%,
        #e2f3fc 33.333333333%,
        #def2fc 33.333333333%,
        #def2fc 38.888888889%,
        #dbf1fc 38.888888889%,
        #dbf1fc 44.444444444%,
        #d8effc 44.444444444%,
        #d8effc 50%,
        #bde6fd 50%,
        #bde6fd 55.555555556%,
        #bae4fc 55.555555556%,
        #bae4fc 61.111111111%,
        #b6e2fb 61.111111111%,
        #b6e2fb 66.666666667%,
        #b2e0f9 66.666666667%,
        #b2e0f9 72.222222222%,
        #aedef8 72.222222222%,
        #aedef8 77.777777778%,
        #abdcf6 77.777777778%,
        #abdcf6 83.333333333%,
        #a8daf5 83.333333333%,
        #a8daf5 88.888888889%,
        #a5d8f3 88.888888889%,
        #a5d8f3 94.444444444%,
        #a2d6f2 94.444444444%,
        #a2d6f2 100%
    );
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.748),
        inset 0 0 0 1px #3c7fb1;
}

scale.horizontal slider:hover:active,
scale.horizontal slider:checked {
    background-image: linear-gradient(to bottom,
        #f8fcfe 0%,
        #f8fcfe 5.555555556%,
        #eef7fd 5.555555556%,
        #eef7fd 11.111111111%,
        #e5f4fc 11.111111111%,
        #e5f4fc 16.666666667%,
        #dcf1fb 16.666666667%,
        #dcf1fb 22.222222222%,
        #d2ecfa 22.222222222%,
        #d2ecfa 27.777777778%,
        #c7e7f9 27.777777778%,
        #c7e7f9 33.333333333%,
        #bbe2f7 33.333333333%,
        #bbe2f7 38.888888889%,
        #b0def6 38.888888889%,
        #b0def6 44.444444444%,
        #a6d9f4 44.444444444%,
        #a6d9f4 50%,
        #9dd5f3 50%,
        #9dd5f3 55.555555556%,
        #6cbbe5 55.555555556%,
        #6cbbe5 61.111111111%,
        #63b3de 61.111111111%,
        #63b3de 66.666666667%,
        #5aaad5 66.666666667%,
        #5aaad5 72.222222222%,
        #50a1cc 72.222222222%,
        #50a1cc 77.777777778%,
        #4697c2 77.777777778%,
        #4697c2 83.333333333%,
        #3e8eb9 83.333333333%,
        #3e8eb9 88.888888889%,
        #3685b0 88.888888889%,
        #3685b0 94.444444444%,
        #2e7ca7 94.444444444%,
        #2e7ca7 100%
    );
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.748),
        inset 0 0 0 1px #2c628b;
}

scale.horizontal slider:disabled {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 100%
    );
    box-shadow:
        inset 0 0 0 2px #fcfcfc,
        inset 0 0 0 1px #adb2b5;
}

scale.horizontal > trough > highlight {
    background-image: linear-gradient(to bottom,
        #e7eaea 0%,
        #e7eaea 100%
    );
    border-bottom: 1px solid #fcfcfc;
    border-left:   1px solid #b0b0b0;
    border-radius: 1px;
    border-right:  1px solid #fdfdfd;
    border-top:    1px solid #b0b0b0;
}

scale.horizontal trough {
    background-image: linear-gradient(to bottom,
        #e7eaea 0%,
        #e7eaea 100%
    );
    border-bottom: 1px solid #fcfcfc;
    border-left:   1px solid #b0b0b0;
    border-radius: 1px;
    border-right:  1px solid #fdfdfd;
    border-top:    1px solid #b0b0b0;
}

scale.vertical indicator {
    padding-left: 8px;
    padding-right: 9px;
    min-height: 1px;
    min-width: 2px;
    color: #c4c4c4;
}

scale.vertical slider {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 5.555555556%,
        #f3f3f3 5.555555556%,
        #f3f3f3 11.111111111%,
        #f2f2f2 11.111111111%,
        #f2f2f2 16.666666667%,
        #f1f1f1 16.666666667%,
        #f1f1f1 22.222222222%,
        #f0f0f0 22.222222222%,
        #f0f0f0 27.777777778%,
        #efefef 27.777777778%,
        #efefef 33.333333333%,
        #eeeeee 33.333333333%,
        #eeeeee 38.888888889%,
        #ececec 38.888888889%,
        #ececec 44.444444444%,
        #ebebeb 44.444444444%,
        #ebebeb 50%,
        #dbdbdb 50%,
        #dbdbdb 55.555555556%,
        #d9d9d9 55.555555556%,
        #d9d9d9 61.111111111%,
        #d7d7d7 61.111111111%,
        #d7d7d7 66.666666667%,
        #d6d6d6 66.666666667%,
        #d6d6d6 72.222222222%,
        #d4d4d4 72.222222222%,
        #d4d4d4 77.777777778%,
        #d2d2d2 77.777777778%,
        #d2d2d2 83.333333333%,
        #d0d0d0 83.333333333%,
        #d0d0d0 88.888888889%,
        #cecece 88.888888889%,
        #cecece 94.444444444%,
        #cccccc 94.444444444%,
        #cccccc 100%
    );
    border-radius: 2px;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.748),
        inset 0 0 0 1px #707070;
    margin: 0 -8px;
    min-height: 10px;
    min-width: 18px;
}

scale.vertical slider:hover {
    background-image: linear-gradient(to bottom,
        #edf8fe 0%,
        #edf8fe 5.555555556%,
        #ebf7fe 5.555555556%,
        #ebf7fe 11.111111111%,
        #e9f6fd 11.111111111%,
        #e9f6fd 16.666666667%,
        #e7f5fd 16.666666667%,
        #e7f5fd 22.222222222%,
        #e5f4fd 22.222222222%,
        #e5f4fd 27.777777778%,
        #e2f3fc 27.777777778%,
        #e2f3fc 33.333333333%,
        #def2fc 33.333333333%,
        #def2fc 38.888888889%,
        #dbf1fc 38.888888889%,
        #dbf1fc 44.444444444%,
        #d8effc 44.444444444%,
        #d8effc 50%,
        #bde6fd 50%,
        #bde6fd 55.555555556%,
        #bae4fc 55.555555556%,
        #bae4fc 61.111111111%,
        #b6e2fb 61.111111111%,
        #b6e2fb 66.666666667%,
        #b2e0f9 66.666666667%,
        #b2e0f9 72.222222222%,
        #aedef8 72.222222222%,
        #aedef8 77.777777778%,
        #abdcf6 77.777777778%,
        #abdcf6 83.333333333%,
        #a8daf5 83.333333333%,
        #a8daf5 88.888888889%,
        #a5d8f3 88.888888889%,
        #a5d8f3 94.444444444%,
        #a2d6f2 94.444444444%,
        #a2d6f2 100%
    );
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.748),
        inset 0 0 0 1px #3c7fb1;
}

scale.vertical slider:hover:active,
scale.vertical slider:checked {
    background-image: linear-gradient(to bottom,
        #f8fcfe 0%,
        #f8fcfe 5.555555556%,
        #eef7fd 5.555555556%,
        #eef7fd 11.111111111%,
        #e5f4fc 11.111111111%,
        #e5f4fc 16.666666667%,
        #dcf1fb 16.666666667%,
        #dcf1fb 22.222222222%,
        #d2ecfa 22.222222222%,
        #d2ecfa 27.777777778%,
        #c7e7f9 27.777777778%,
        #c7e7f9 33.333333333%,
        #bbe2f7 33.333333333%,
        #bbe2f7 38.888888889%,
        #b0def6 38.888888889%,
        #b0def6 44.444444444%,
        #a6d9f4 44.444444444%,
        #a6d9f4 50%,
        #9dd5f3 50%,
        #9dd5f3 55.555555556%,
        #6cbbe5 55.555555556%,
        #6cbbe5 61.111111111%,
        #63b3de 61.111111111%,
        #63b3de 66.666666667%,
        #5aaad5 66.666666667%,
        #5aaad5 72.222222222%,
        #50a1cc 72.222222222%,
        #50a1cc 77.777777778%,
        #4697c2 77.777777778%,
        #4697c2 83.333333333%,
        #3e8eb9 83.333333333%,
        #3e8eb9 88.888888889%,
        #3685b0 88.888888889%,
        #3685b0 94.444444444%,
        #2e7ca7 94.444444444%,
        #2e7ca7 100%
    );
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.748),
        inset 0 0 0 1px #2c628b;
}

scale.vertical slider:disabled {
    background-image: linear-gradient(to bottom,
        #f4f4f4 0%,
        #f4f4f4 100%
    );
    box-shadow:
        inset 0 0 0 2px #fcfcfc,
        inset 0 0 0 1px #adb2b5;
}

scale.vertical > trough > highlight {
    background-image: linear-gradient(to bottom,
        #e7eaea 0%,
        #e7eaea 100%
    );
    border-bottom: 1px solid #fcfcfc;
    border-left:   1px solid #b0b0b0;
    border-radius: 1px;
    border-right:  1px solid #fdfdfd;
    border-top:    1px solid #b0b0b0;
}

scale.vertical trough {
    background-image: linear-gradient(to bottom,
        #e7eaea 0%,
        #e7eaea 100%
    );
    border-bottom: 1px solid #fcfcfc;
    border-left:   1px solid #b0b0b0;
    border-radius: 1px;
    border-right:  1px solid #fdfdfd;
    border-top:    1px solid #b0b0b0;
}
