scrollbar.horizontal trough {
    background-color: none;
    background-image: linear-gradient(to bottom,
        #f8f8f8 0%,
        #f8f8f8 5.882352941%,
        #e1e1e1 5.882352941%,
        #e1e1e1 11.764705882%,
        #e5e5e5 11.764705882%,
        #e5e5e5 17.647058824%,
        #eaeaea 17.647058824%,
        #eaeaea 23.529411765%,
        #ededed 23.529411765%,
        #ededed 29.411764706%,
        #ededed 29.411764706%,
        #ededed 35.294117647%,
        #ededed 35.294117647%,
        #ededed 41.176470588%,
        #ededed 41.176470588%,
        #ededed 47.058823529%,
        #ededed 47.058823529%,
        #ededed 52.941176471%,
        #ededed 52.941176471%,
        #ededed 58.823529412%,
        #ededed 58.823529412%,
        #ededed 64.705882353%,
        #ededed 64.705882353%,
        #ededed 70.588235294%,
        #ededed 70.588235294%,
        #ededed 76.470588235%,
        #ededed 76.470588235%,
        #ededed 82.352941176%,
        #efefef 82.352941176%,
        #efefef 88.235294118%,
        #f0f0f0 88.235294118%,
        #f0f0f0 94.117647059%,
        #e9e9e9 94.117647059%,
        #e9e9e9 100%
    );
    border: none;
    border-radius: 0;
    min-height: 17px;
}

scrollbar.vertical trough {
    background-color: none;
    background-image: linear-gradient(to right,
        #f8f8f8 0%,
        #f8f8f8 5.882352941%,
        #e1e1e1 5.882352941%,
        #e1e1e1 11.764705882%,
        #e5e5e5 11.764705882%,
        #e5e5e5 17.647058824%,
        #eaeaea 17.647058824%,
        #eaeaea 23.529411765%,
        #ededed 23.529411765%,
        #ededed 29.411764706%,
        #ededed 29.411764706%,
        #ededed 35.294117647%,
        #ededed 35.294117647%,
        #ededed 41.176470588%,
        #ededed 41.176470588%,
        #ededed 47.058823529%,
        #ededed 47.058823529%,
        #ededed 52.941176471%,
        #ededed 52.941176471%,
        #ededed 58.823529412%,
        #ededed 58.823529412%,
        #ededed 64.705882353%,
        #ededed 64.705882353%,
        #ededed 70.588235294%,
        #ededed 70.588235294%,
        #ededed 76.470588235%,
        #ededed 76.470588235%,
        #ededed 82.352941176%,
        #efefef 82.352941176%,
        #efefef 88.235294118%,
        #f0f0f0 88.235294118%,
        #f0f0f0 94.117647059%,
        #e9e9e9 94.117647059%,
        #e9e9e9 100%
    );
    border: none;
    border-radius: 0;
    min-width: 17px;
}

scrollbar button,
scrollbar slider {
    border-radius: 2px;
}

scrollbar.horizontal slider {
    background-image: 
        url("../../assets/ui/scrollbars/gripper/gripper-h-normal.png"),
        linear-gradient(to bottom,
            #fafafb 0%,
            #fafafb 6.666666667%,
            #f7f7f8 6.666666667%,
            #f7f7f8 13.333333333%,
            #f4f4f5 13.333333333%,
            #f4f4f5 20%,
            #f1f1f2 20%,
            #f1f1f2 26.666666667%,
            #eeeeef 26.666666667%,
            #eeeeef 33.333333333%,
            #ececed 33.333333333%,
            #ececed 40%,
            #e9e9eb 40%,
            #e9e9eb 46.666666667%,
            #d9d9db 46.666666667%,
            #d9d9db 53.333333333%,
            #d5d5d8 53.333333333%,
            #d5d5d8 60%,
            #d0d1d4 60%,
            #d0d1d4 66.666666667%,
            #ccccd0 66.666666667%,
            #ccccd0 73.333333333%,
            #c6c7ca 73.333333333%,
            #c6c7ca 80%,
            #c1c2c5 80%,
            #c1c2c5 86.666666667%,
            #bcbdc0 86.666666667%,
            #bcbdc0 93.333333333%,
            #b7b8bb 93.333333333%,
            #b7b8bb 100%
        );
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #f8f8f8;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.045),
        inset 4px 0 0 rgba(255, 255, 255, 0.045),
        inset 0 -4px 0 rgba(0, 0, 0, 0.010),
        inset -4px 0 0 rgba(0, 0, 0, 0.006),
        inset 0 3px 0 rgba(255, 255, 255, 0.105),
        inset 3px 0 0 rgba(255, 255, 255, 0.090),
        inset 0 -3px 0 rgba(0, 0, 0, 0.018),
        inset -3px 0 0 rgba(0, 0, 0, 0.008),
        inset 0 2px 0 rgba(245, 245, 245, 0.90),
        inset 2px 0 0 rgba(255, 255, 255, 0.50),
        inset -2px 0 0 rgba(228, 228, 230, 0.44),
        inset 0 -2px 0 rgba(220, 220, 223, 0.56),
        inset 0 1px 0 #979797,
        inset 1px 0 0 #9e9e9e,
        inset 0 -1px 0 #a0a0a0,
        inset -1px 0 0 #9e9e9e;
    min-height: 15px;
    min-width: 16px;
}

scrollbar.horizontal slider:hover {
    background-image: 
        url("../../assets/ui/scrollbars/gripper/gripper-h-hover.png"),
        linear-gradient(to bottom,
            #d6eefb 0%,
            #d6eefb 46.666666667%,
            #a9dbf6 46.666666667%,
            #a9dbf6 100%
        );
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #f8f8f8;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.151),
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(0, 0, 0, 0.030),
        inset -4px 0 0 rgba(0, 0, 0, 0.030),
        inset 0 3px 0 rgba(255, 255, 255, 0.196),
        inset 3px 0 0 rgba(255, 255, 255, 0.196),
        inset 0 -3px 0 rgba(0, 0, 0, 0.050),
        inset -3px 0 0 rgba(0, 0, 0, 0.050),
        inset 0 2px 0 rgba(255, 255, 255, 0.927),
        inset 2px 0 0 rgba(255, 255, 255, 0.927),
        inset 0 -2px 0 rgba(255, 236, 229, 0.600),
        inset -2px 0 0 rgba(255, 236, 229, 0.600),
        inset 0 1px 0 #3c7fb1,
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #346e99,
        inset -1px 0 0 #346e99;
}

scrollbar.horizontal slider:hover:active {
    background-image: 
        url("../../assets/ui/scrollbars/gripper/gripper-h-pressed.png"),
        linear-gradient(to bottom,
            #afe1f7 0%,
            #afe1f7 46.666666667%,
            #6fcaf0 46.666666667%,
            #6fcaf0 100%
        );
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #f8f8f8;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.151),
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(0, 0, 0, 0.03),
        inset -4px 0 0 rgba(0, 0, 0, 0.03),
        inset 0 3px 0 rgba(255, 255, 255, 0.326),
        inset 3px 0 0 rgba(255, 255, 255, 0.326),
        inset 0 -3px 0 rgba(0, 0, 0, 0.08),
        inset -3px 0 0 rgba(0, 0, 0, 0.08),
        inset 0 2px 0 rgba(255, 255, 255, 0.695),
        inset 2px 0 0 rgba(255, 255, 255, 0.695),
        inset 0 -2px 0 rgba(255, 207, 188, 0.326),
        inset -2px 0 0 rgba(255, 207, 188, 0.326),
        inset 0 0 0 1px #18598a;
}

scrollbar.vertical slider {
    background-image: 
        url("../../assets/ui/scrollbars/gripper/gripper-v-normal.png"),
        linear-gradient(to right,
            #fafafb 0%,
            #fafafb 6.666666667%,
            #f7f7f8 6.666666667%,
            #f7f7f8 13.333333333%,
            #f4f4f5 13.333333333%,
            #f4f4f5 20%,
            #f1f1f2 20%,
            #f1f1f2 26.666666667%,
            #eeeeef 26.666666667%,
            #eeeeef 33.333333333%,
            #ececed 33.333333333%,
            #ececed 40%,
            #e9e9eb 40%,
            #e9e9eb 46.666666667%,
            #d9d9db 46.666666667%,
            #d9d9db 53.333333333%,
            #d5d5d8 53.333333333%,
            #d5d5d8 60%,
            #d0d1d4 60%,
            #d0d1d4 66.666666667%,
            #ccccd0 66.666666667%,
            #ccccd0 73.333333333%,
            #c6c7ca 73.333333333%,
            #c6c7ca 80%,
            #c1c2c5 80%,
            #c1c2c5 86.666666667%,
            #bcbdc0 86.666666667%,
            #bcbdc0 93.333333333%,
            #b7b8bb 93.333333333%,
            #b7b8bb 100%
        );
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #e9e9e9;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.045),
        inset 0 -4px 0 rgba(255, 255, 255, 0.045),
        inset -4px 0 0 rgba(0, 0, 0, 0.010),
        inset 0 4px 0 rgba(0, 0, 0, 0.006),
        inset 3px 0 0 rgba(255, 255, 255, 0.105),
        inset 0 -3px 0 rgba(255, 255, 255, 0.090),
        inset -3px 0 0 rgba(0, 0, 0, 0.018),
        inset 0 3px 0 rgba(0, 0, 0, 0.008),
        inset 2px 0 0 rgba(245, 245, 245, 0.90),
        inset 0 -2px 0 rgba(255, 255, 255, 0.50),
        inset 0 2px 0 rgba(228, 228, 230, 0.44),
        inset -2px 0 0 rgba(220, 220, 223, 0.56),
        inset 1px 0 0 #979797,
        inset 0 -1px 0 #9e9e9e,
        inset -1px 0 0 #a0a0a0,
        inset 0 1px 0 #9e9e9e;
    min-height: 16px;
    min-width: 15px;
}

scrollbar.vertical slider:hover {
    background-image: 
        url("../../assets/ui/scrollbars/gripper/gripper-v-hover.png"),
        linear-gradient(to right,
            #d6eefb 0%,
            #d6eefb 46.666666667%,
            #a9dbf6 46.666666667%,
            #a9dbf6 100%
        );
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #e9e9e9;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(255, 255, 255, 0.151),
        inset -4px 0 0 rgba(0, 0, 0, 0.030),
        inset 0 4px 0 rgba(0, 0, 0, 0.030),
        inset 3px 0 0 rgba(255, 255, 255, 0.196),
        inset 0 -3px 0 rgba(255, 255, 255, 0.196),
        inset -3px 0 0 rgba(0, 0, 0, 0.050),
        inset 0 3px 0 rgba(0, 0, 0, 0.050),
        inset 2px 0 0 rgba(255, 255, 255, 0.927),
        inset 0 -2px 0 rgba(255, 255, 255, 0.927),
        inset -2px 0 0 rgba(255, 236, 229, 0.600),
        inset 0 2px 0 rgba(255, 236, 229, 0.600),
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #3c7fb1,
        inset -1px 0 0 #346e99,
        inset 0 1px 0 #346e99;
}

scrollbar.vertical slider:hover:active {
    background-image: 
        url("../../assets/ui/scrollbars/gripper/gripper-v-pressed.png"),
        linear-gradient(to right,
            #afe1f7 0%,
            #afe1f7 46.666666667%,
            #6fcaf0 46.666666667%,
            #6fcaf0 100%
        );
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #e9e9e9;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(255, 255, 255, 0.151),
        inset -4px 0 0 rgba(0, 0, 0, 0.03),
        inset 0 4px 0 rgba(0, 0, 0, 0.03),
        inset 3px 0 0 rgba(255, 255, 255, 0.326),
        inset 0 -3px 0 rgba(255, 255, 255, 0.326),
        inset -3px 0 0 rgba(0, 0, 0, 0.08),
        inset 0 3px 0 rgba(0, 0, 0, 0.08),
        inset 2px 0 0 rgba(255, 255, 255, 0.695),
        inset 0 -2px 0 rgba(255, 255, 255, 0.695),
        inset -2px 0 0 rgba(255, 207, 188, 0.326),
        inset 0 2px 0 rgba(255, 207, 188, 0.326),
        inset 0 0 0 1px #18598a;
}

scrollbar.horizontal button.up {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-left-normal.png"),
        linear-gradient(to bottom,
            #fafafb 0%,
            #fafafb 6.666666667%,
            #f7f7f8 6.666666667%,
            #f7f7f8 13.333333333%,
            #f4f4f5 13.333333333%,
            #f4f4f5 20%,
            #f1f1f2 20%,
            #f1f1f2 26.666666667%,
            #eeeeef 26.666666667%,
            #eeeeef 33.333333333%,
            #ececed 33.333333333%,
            #ececed 40%,
            #e9e9eb 40%,
            #e9e9eb 46.666666667%,
            #d9d9db 46.666666667%,
            #d9d9db 53.333333333%,
            #d5d5d8 53.333333333%,
            #d5d5d8 60%,
            #d0d1d4 60%,
            #d0d1d4 66.666666667%,
            #ccccd0 66.666666667%,
            #ccccd0 73.333333333%,
            #c6c7ca 73.333333333%,
            #c6c7ca 80%,
            #c1c2c5 80%,
            #c1c2c5 86.666666667%,
            #bcbdc0 86.666666667%,
            #bcbdc0 93.333333333%,
            #b7b8bb 93.333333333%,
            #b7b8bb 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 2px;
    border-top: 1px solid #f8f8f8;
    box-shadow: none;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.045),
        inset 4px 0 0 rgba(255, 255, 255, 0.045),
        inset 0 -4px 0 rgba(0, 0, 0, 0.010),
        inset -4px 0 0 rgba(0, 0, 0, 0.006),
        inset 0 3px 0 rgba(255, 255, 255, 0.105),
        inset 3px 0 0 rgba(255, 255, 255, 0.090),
        inset 0 -3px 0 rgba(0, 0, 0, 0.018),
        inset -3px 0 0 rgba(0, 0, 0, 0.008),
        inset 0 2px 0 rgba(245, 245, 245, 0.90),
        inset 2px 0 0 rgba(255, 255, 255, 0.50),
        inset -2px 0 0 rgba(228, 228, 230, 0.44),
        inset 0 -2px 0 rgba(220, 220, 223, 0.56),
        inset 0 1px 0 #979797,
        inset 1px 0 0 #9e9e9e,
        inset 0 -1px 0 #a0a0a0,
        inset -1px 0 0 #9e9e9e;
    color: transparent;
    font-size: 0;
    margin: 0;
    min-height: 15px;
    min-width: 16px;
    padding: 0;
}

scrollbar.horizontal button.up:hover {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-left-hover.png"),
        linear-gradient(to bottom,
            #d6eefb 0%,
            #d6eefb 46.666666667%,
            #a9dbf6 46.666666667%,
            #a9dbf6 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 2px;
    border-top: 1px solid #f8f8f8;
    box-shadow: none;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.151),
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(0, 0, 0, 0.030),
        inset -4px 0 0 rgba(0, 0, 0, 0.030),
        inset 0 3px 0 rgba(255, 255, 255, 0.196),
        inset 3px 0 0 rgba(255, 255, 255, 0.196),
        inset 0 -3px 0 rgba(0, 0, 0, 0.050),
        inset -3px 0 0 rgba(0, 0, 0, 0.050),
        inset 0 2px 0 rgba(255, 255, 255, 0.927),
        inset 2px 0 0 rgba(255, 255, 255, 0.927),
        inset 0 -2px 0 rgba(255, 236, 229, 0.600),
        inset -2px 0 0 rgba(255, 236, 229, 0.600),
        inset 0 1px 0 #3c7fb1,
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #346e99,
        inset -1px 0 0 #346e99;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.horizontal button.up:hover:active {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-left-pressed.png"),
        linear-gradient(to bottom,
            #afe1f7 0%,
            #afe1f7 46.666666667%,
            #6fcaf0 46.666666667%,
            #6fcaf0 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 2px;
    border-top: 1px solid #f8f8f8;
    box-shadow: none;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.151),
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(0, 0, 0, 0.03),
        inset -4px 0 0 rgba(0, 0, 0, 0.03),
        inset 0 3px 0 rgba(255, 255, 255, 0.326),
        inset 3px 0 0 rgba(255, 255, 255, 0.326),
        inset 0 -3px 0 rgba(0, 0, 0, 0.08),
        inset -3px 0 0 rgba(0, 0, 0, 0.08),
        inset 0 2px 0 rgba(255, 255, 255, 0.695),
        inset 2px 0 0 rgba(255, 255, 255, 0.695),
        inset 0 -2px 0 rgba(255, 207, 188, 0.326),
        inset -2px 0 0 rgba(255, 207, 188, 0.326),
        inset 0 0 0 1px #18598a;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.horizontal button.down {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-right-normal.png"),
        linear-gradient(to bottom,
            #fafafb 0%,
            #fafafb 6.666666667%,
            #f7f7f8 6.666666667%,
            #f7f7f8 13.333333333%,
            #f4f4f5 13.333333333%,
            #f4f4f5 20%,
            #f1f1f2 20%,
            #f1f1f2 26.666666667%,
            #eeeeef 26.666666667%,
            #eeeeef 33.333333333%,
            #ececed 33.333333333%,
            #ececed 40%,
            #e9e9eb 40%,
            #e9e9eb 46.666666667%,
            #d9d9db 46.666666667%,
            #d9d9db 53.333333333%,
            #d5d5d8 53.333333333%,
            #d5d5d8 60%,
            #d0d1d4 60%,
            #d0d1d4 66.666666667%,
            #ccccd0 66.666666667%,
            #ccccd0 73.333333333%,
            #c6c7ca 73.333333333%,
            #c6c7ca 80%,
            #c1c2c5 80%,
            #c1c2c5 86.666666667%,
            #bcbdc0 86.666666667%,
            #bcbdc0 93.333333333%,
            #b7b8bb 93.333333333%,
            #b7b8bb 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 2px;
    border-top: 1px solid #f8f8f8;
    box-shadow: none;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.045),
        inset 4px 0 0 rgba(255, 255, 255, 0.045),
        inset 0 -4px 0 rgba(0, 0, 0, 0.010),
        inset -4px 0 0 rgba(0, 0, 0, 0.006),
        inset 0 3px 0 rgba(255, 255, 255, 0.105),
        inset 3px 0 0 rgba(255, 255, 255, 0.090),
        inset 0 -3px 0 rgba(0, 0, 0, 0.018),
        inset -3px 0 0 rgba(0, 0, 0, 0.008),
        inset 0 2px 0 rgba(245, 245, 245, 0.90),
        inset 2px 0 0 rgba(255, 255, 255, 0.50),
        inset -2px 0 0 rgba(228, 228, 230, 0.44),
        inset 0 -2px 0 rgba(220, 220, 223, 0.56),
        inset 0 1px 0 #979797,
        inset 1px 0 0 #9e9e9e,
        inset 0 -1px 0 #a0a0a0,
        inset -1px 0 0 #9e9e9e;
    color: transparent;
    font-size: 0;
    margin: 0;
    min-height: 15px;
    min-width: 16px;
    padding: 0;
}

scrollbar.horizontal button.down:hover {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-right-hover.png"),
        linear-gradient(to bottom,
            #d6eefb 0%,
            #d6eefb 46.666666667%,
            #a9dbf6 46.666666667%,
            #a9dbf6 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 2px;
    border-top: 1px solid #f8f8f8;
    box-shadow: none;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.151),
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(0, 0, 0, 0.030),
        inset -4px 0 0 rgba(0, 0, 0, 0.030),
        inset 0 3px 0 rgba(255, 255, 255, 0.196),
        inset 3px 0 0 rgba(255, 255, 255, 0.196),
        inset 0 -3px 0 rgba(0, 0, 0, 0.050),
        inset -3px 0 0 rgba(0, 0, 0, 0.050),
        inset 0 2px 0 rgba(255, 255, 255, 0.927),
        inset 2px 0 0 rgba(255, 255, 255, 0.927),
        inset 0 -2px 0 rgba(255, 236, 229, 0.600),
        inset -2px 0 0 rgba(255, 236, 229, 0.600),
        inset 0 1px 0 #3c7fb1,
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #346e99,
        inset -1px 0 0 #346e99;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.horizontal button.down:hover:active {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-right-pressed.png"),
        linear-gradient(to bottom,
            #afe1f7 0%,
            #afe1f7 46.666666667%,
            #6fcaf0 46.666666667%,
            #6fcaf0 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 2px;
    border-top: 1px solid #f8f8f8;
    box-shadow: none;
    box-shadow:
        inset 0 4px 0 rgba(255, 255, 255, 0.151),
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(0, 0, 0, 0.03),
        inset -4px 0 0 rgba(0, 0, 0, 0.03),
        inset 0 3px 0 rgba(255, 255, 255, 0.326),
        inset 3px 0 0 rgba(255, 255, 255, 0.326),
        inset 0 -3px 0 rgba(0, 0, 0, 0.08),
        inset -3px 0 0 rgba(0, 0, 0, 0.08),
        inset 0 2px 0 rgba(255, 255, 255, 0.695),
        inset 2px 0 0 rgba(255, 255, 255, 0.695),
        inset 0 -2px 0 rgba(255, 207, 188, 0.326),
        inset -2px 0 0 rgba(255, 207, 188, 0.326),
        inset 0 0 0 1px #18598a;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.vertical button.up {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-up-normal.png"),
        linear-gradient(to right,
            #fafafb 0%,
            #fafafb 6.666666667%,
            #f7f7f8 6.666666667%,
            #f7f7f8 13.333333333%,
            #f4f4f5 13.333333333%,
            #f4f4f5 20%,
            #f1f1f2 20%,
            #f1f1f2 26.666666667%,
            #eeeeef 26.666666667%,
            #eeeeef 33.333333333%,
            #ececed 33.333333333%,
            #ececed 40%,
            #e9e9eb 40%,
            #e9e9eb 46.666666667%,
            #d9d9db 46.666666667%,
            #d9d9db 53.333333333%,
            #d5d5d8 53.333333333%,
            #d5d5d8 60%,
            #d0d1d4 60%,
            #d0d1d4 66.666666667%,
            #ccccd0 66.666666667%,
            #ccccd0 73.333333333%,
            #c6c7ca 73.333333333%,
            #c6c7ca 80%,
            #c1c2c5 80%,
            #c1c2c5 86.666666667%,
            #bcbdc0 86.666666667%,
            #bcbdc0 93.333333333%,
            #b7b8bb 93.333333333%,
            #b7b8bb 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-left: 1px solid #f8f8f8;
    border-radius: 2px;
    border-right: 1px solid #e9e9e9;
    box-shadow: none;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.045),
        inset 0 -4px 0 rgba(255, 255, 255, 0.045),
        inset -4px 0 0 rgba(0, 0, 0, 0.010),
        inset 0 4px 0 rgba(0, 0, 0, 0.006),
        inset 3px 0 0 rgba(255, 255, 255, 0.105),
        inset 0 -3px 0 rgba(255, 255, 255, 0.090),
        inset -3px 0 0 rgba(0, 0, 0, 0.018),
        inset 0 3px 0 rgba(0, 0, 0, 0.008),
        inset 2px 0 0 rgba(245, 245, 245, 0.90),
        inset 0 -2px 0 rgba(255, 255, 255, 0.50),
        inset 0 2px 0 rgba(228, 228, 230, 0.44),
        inset -2px 0 0 rgba(220, 220, 223, 0.56),
        inset 1px 0 0 #979797,
        inset 0 -1px 0 #9e9e9e,
        inset -1px 0 0 #a0a0a0,
        inset 0 1px 0 #9e9e9e;
    color: transparent;
    font-size: 0;
    margin: 0;
    min-height: 16px;
    min-width: 15px;
    padding: 0;
}

scrollbar.vertical button.up:hover {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-up-hover.png"),
        linear-gradient(to right,
            #d6eefb 0%,
            #d6eefb 46.666666667%,
            #a9dbf6 46.666666667%,
            #a9dbf6 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-left: 1px solid #f8f8f8;
    border-radius: 2px;
    border-right: 1px solid #e9e9e9;
    box-shadow: none;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(255, 255, 255, 0.151),
        inset -4px 0 0 rgba(0, 0, 0, 0.030),
        inset 0 4px 0 rgba(0, 0, 0, 0.030),
        inset 3px 0 0 rgba(255, 255, 255, 0.196),
        inset 0 -3px 0 rgba(255, 255, 255, 0.196),
        inset -3px 0 0 rgba(0, 0, 0, 0.050),
        inset 0 3px 0 rgba(0, 0, 0, 0.050),
        inset 2px 0 0 rgba(255, 255, 255, 0.927),
        inset 0 -2px 0 rgba(255, 255, 255, 0.927),
        inset -2px 0 0 rgba(255, 236, 229, 0.600),
        inset 0 2px 0 rgba(255, 236, 229, 0.600),
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #3c7fb1,
        inset -1px 0 0 #346e99,
        inset 0 1px 0 #346e99;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.vertical button.up:hover:active {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-up-pressed.png"),
        linear-gradient(to right,
            #afe1f7 0%,
            #afe1f7 46.666666667%,
            #6fcaf0 46.666666667%,
            #6fcaf0 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-left: 1px solid #f8f8f8;
    border-radius: 2px;
    border-right: 1px solid #e9e9e9;
    box-shadow: none;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(255, 255, 255, 0.151),
        inset -4px 0 0 rgba(0, 0, 0, 0.03),
        inset 0 4px 0 rgba(0, 0, 0, 0.03),
        inset 3px 0 0 rgba(255, 255, 255, 0.326),
        inset 0 -3px 0 rgba(255, 255, 255, 0.326),
        inset -3px 0 0 rgba(0, 0, 0, 0.08),
        inset 0 3px 0 rgba(0, 0, 0, 0.08),
        inset 2px 0 0 rgba(255, 255, 255, 0.695),
        inset 0 -2px 0 rgba(255, 255, 255, 0.695),
        inset -2px 0 0 rgba(255, 207, 188, 0.326),
        inset 0 2px 0 rgba(255, 207, 188, 0.326),
        inset 0 0 0 1px #18598a;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.vertical button.down {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-down-normal.png"),
        linear-gradient(to right,
            #fafafb 0%,
            #fafafb 6.666666667%,
            #f7f7f8 6.666666667%,
            #f7f7f8 13.333333333%,
            #f4f4f5 13.333333333%,
            #f4f4f5 20%,
            #f1f1f2 20%,
            #f1f1f2 26.666666667%,
            #eeeeef 26.666666667%,
            #eeeeef 33.333333333%,
            #ececed 33.333333333%,
            #ececed 40%,
            #e9e9eb 40%,
            #e9e9eb 46.666666667%,
            #d9d9db 46.666666667%,
            #d9d9db 53.333333333%,
            #d5d5d8 53.333333333%,
            #d5d5d8 60%,
            #d0d1d4 60%,
            #d0d1d4 66.666666667%,
            #ccccd0 66.666666667%,
            #ccccd0 73.333333333%,
            #c6c7ca 73.333333333%,
            #c6c7ca 80%,
            #c1c2c5 80%,
            #c1c2c5 86.666666667%,
            #bcbdc0 86.666666667%,
            #bcbdc0 93.333333333%,
            #b7b8bb 93.333333333%,
            #b7b8bb 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-left: 1px solid #f8f8f8;
    border-radius: 2px;
    border-right: 1px solid #e9e9e9;
    box-shadow: none;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.045),
        inset 0 -4px 0 rgba(255, 255, 255, 0.045),
        inset -4px 0 0 rgba(0, 0, 0, 0.010),
        inset 0 4px 0 rgba(0, 0, 0, 0.006),
        inset 3px 0 0 rgba(255, 255, 255, 0.105),
        inset 0 -3px 0 rgba(255, 255, 255, 0.090),
        inset -3px 0 0 rgba(0, 0, 0, 0.018),
        inset 0 3px 0 rgba(0, 0, 0, 0.008),
        inset 2px 0 0 rgba(245, 245, 245, 0.90),
        inset 0 -2px 0 rgba(255, 255, 255, 0.50),
        inset 0 2px 0 rgba(228, 228, 230, 0.44),
        inset -2px 0 0 rgba(220, 220, 223, 0.56),
        inset 1px 0 0 #979797,
        inset 0 -1px 0 #9e9e9e,
        inset -1px 0 0 #a0a0a0,
        inset 0 1px 0 #9e9e9e;
    color: transparent;
    font-size: 0;
    margin: 0;
    min-height: 16px;
    min-width: 15px;
    padding: 0;
}

scrollbar.vertical button.down:hover {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-down-hover.png"),
        linear-gradient(to right,
            #d6eefb 0%,
            #d6eefb 46.666666667%,
            #a9dbf6 46.666666667%,
            #a9dbf6 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-left: 1px solid #f8f8f8;
    border-radius: 2px;
    border-right: 1px solid #e9e9e9;
    box-shadow: none;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(255, 255, 255, 0.151),
        inset -4px 0 0 rgba(0, 0, 0, 0.030),
        inset 0 4px 0 rgba(0, 0, 0, 0.030),
        inset 3px 0 0 rgba(255, 255, 255, 0.196),
        inset 0 -3px 0 rgba(255, 255, 255, 0.196),
        inset -3px 0 0 rgba(0, 0, 0, 0.050),
        inset 0 3px 0 rgba(0, 0, 0, 0.050),
        inset 2px 0 0 rgba(255, 255, 255, 0.927),
        inset 0 -2px 0 rgba(255, 255, 255, 0.927),
        inset -2px 0 0 rgba(255, 236, 229, 0.600),
        inset 0 2px 0 rgba(255, 236, 229, 0.600),
        inset 1px 0 0 #3c7fb1,
        inset 0 -1px 0 #3c7fb1,
        inset -1px 0 0 #346e99,
        inset 0 1px 0 #346e99;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.vertical button.down:hover:active {
    background-color: transparent;
    background-image: none;
    background-image: 
        url("../../assets/ui/scrollbars/arrow/arrow-down-pressed.png"),
        linear-gradient(to right,
            #afe1f7 0%,
            #afe1f7 46.666666667%,
            #6fcaf0 46.666666667%,
            #6fcaf0 100%
        );
    background-position: center center;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    border: none;
    border-left: 1px solid #f8f8f8;
    border-radius: 2px;
    border-right: 1px solid #e9e9e9;
    box-shadow: none;
    box-shadow:
        inset 4px 0 0 rgba(255, 255, 255, 0.151),
        inset 0 -4px 0 rgba(255, 255, 255, 0.151),
        inset -4px 0 0 rgba(0, 0, 0, 0.03),
        inset 0 4px 0 rgba(0, 0, 0, 0.03),
        inset 3px 0 0 rgba(255, 255, 255, 0.326),
        inset 0 -3px 0 rgba(255, 255, 255, 0.326),
        inset -3px 0 0 rgba(0, 0, 0, 0.08),
        inset 0 3px 0 rgba(0, 0, 0, 0.08),
        inset 2px 0 0 rgba(255, 255, 255, 0.695),
        inset 0 -2px 0 rgba(255, 255, 255, 0.695),
        inset -2px 0 0 rgba(255, 207, 188, 0.326),
        inset 0 2px 0 rgba(255, 207, 188, 0.326),
        inset 0 0 0 1px #18598a;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

scrollbar.horizontal button.down,
scrollbar.horizontal button.up,
scrollbar.vertical button.down,
scrollbar.vertical button.up {
    -gtk-icon-source: none;
}
