spinbutton {
    font-size: 12px;
}

spinbutton.horizontal:disabled {
    color: #6d6d6d;
}

spinbutton entry {
padding-right: 54px;
margin-bottom: 6px;
}

spinbutton.horizontal > button.up {
	margin-left: -40px;
	margin-right: 40px;
    margin-bottom: 8px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

spinbutton.horizontal > button.down {
	margin-left: -41px;
	margin-right: 41px;
    margin-bottom: 8px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

spinbutton.horizontal > button.up,
spinbutton.horizontal > button.down {
    background-image: linear-gradient(to bottom,
        #f5f5f5 0%,
        #f5f5f5 6.666666667%,
        #f4f4f4 6.666666667%,
        #f4f4f4 13.333333333%,
        #f2f2f2 13.333333333%,
        #f2f2f2 20%,
        #f1f1f1 20%,
        #f1f1f1 26.666666667%,
        #efefef 26.666666667%,
        #efefef 33.333333333%,
        #eeeeee 33.333333333%,
        #eeeeee 40%,
        #ececec 40%,
        #ececec 46.666666667%,
        #e8e8e8 46.666666667%,
        #e8e8e8 53.333333333%,
        #dbdbdb 53.333333333%,
        #dbdbdb 60%,
        #d8d8d8 60%,
        #d8d8d8 66.666666667%,
        #d6d6d6 66.666666667%,
        #d6d6d6 73.333333333%,
        #d3d3d3 73.333333333%,
        #d3d3d3 80%,
        #d1d1d1 80%,
        #d1d1d1 86.666666667%,
        #cecece 86.666666667%,
        #cecece 93.333333333%,
        #cccccc 93.333333333%,
        #cccccc 100%
    );
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.75),
        inset 0 0 0 1px #abadb3;
    color: #5f6ea5;
}

spinbutton.horizontal > button.up:hover,
spinbutton.horizontal > button.down:hover {
    background-image: linear-gradient(to bottom,
        #eff9fe 0%,
        #eff9fe 6.666666667%,
        #ecf8fe 6.666666667%,
        #ecf8fe 13.333333333%,
        #e9f6fd 13.333333333%,
        #e9f6fd 20%,
        #e6f5fd 20%,
        #e6f5fd 26.666666667%,
        #e3f3fc 26.666666667%,
        #e3f3fc 33.333333333%,
        #dff2fc 33.333333333%,
        #dff2fc 40%,
        #dbf0fc 40%,
        #dbf0fc 46.666666667%,
        #d2edfc 46.666666667%,
        #d2edfc 53.333333333%,
        #bbe5fc 53.333333333%,
        #bbe5fc 60%,
        #b6e2fb 60%,
        #b6e2fb 66.666666667%,
        #b2e0f9 66.666666667%,
        #b2e0f9 73.333333333%,
        #adddf7 73.333333333%,
        #adddf7 80%,
        #a9dbf5 80%,
        #a9dbf5 86.666666667%,
        #a4d8f3 86.666666667%,
        #a4d8f3 93.333333333%,
        #a0d6f1 93.333333333%,
        #a0d6f1 100%
    );
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.75),
        inset 0 0 0 1px #3c7fb1;
}

spinbutton.horizontal > button.up:active:focus,
spinbutton.horizontal > button.down:active:focus {
    background-image: linear-gradient(to bottom,
        #c2e4f6 0%,
        #c2e4f6 6.666666667%,
        #c2e4f6 6.666666667%,
        #c2e4f6 13.333333333%,
        #c2e4f6 13.333333333%,
        #c2e4f6 20%,
        #c2e4f6 20%,
        #c2e4f6 26.666666667%,
        #c2e4f6 26.666666667%,
        #c2e4f6 33.333333333%,
        #c2e4f6 33.333333333%,
        #c2e4f6 40%,
        #c2e4f6 40%,
        #c2e4f6 46.666666667%,
        #c2e4f6 46.666666667%,
        #c2e4f6 53.333333333%,
        #aad9f3 53.333333333%,
        #aad9f3 60%,
        #a5d7f1 60%,
        #a5d7f1 66.666666667%,
        #a0d4f0 66.666666667%,
        #a0d4f0 73.333333333%,
        #9ad1ee 73.333333333%,
        #9ad1ee 80%,
        #95ceec 80%,
        #95ceec 86.666666667%,
        #91cceb 86.666666667%,
        #91cceb 93.333333333%,
        #8cc9e9 93.333333333%,
        #8cc9e9 100%
    );
    box-shadow:
        inset 0 3px 0 rgba(4,30,50,0.147),
        inset 3px 0 0 rgba(4,30,50,0.147),
        inset 0 2px 0 rgba(0,26,45,0.3392),
        inset 2px 0 0 rgba(0,26,45,0.3392),
        inset 0 0 0 1px #2c628b;
}

spinbutton.horizontal > button.up:disabled,
spinbutton.horizontal > button.down:disabled {
    background-image: linear-gradient(to bottom,
        #eeeeee 0%,
        #eeeeee 100%
    );
    box-shadow:
        inset 0 0 0 1px #bfbfbf;
    color: #97999e;
}
