tooltip {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 5.555555556%,
        #ffffff 5.555555556%,
        #ffffff 11.111111111%,
        #fefeff 11.111111111%,
        #fefeff 16.666666667%,
        #fefefe 16.666666667%,
        #fefefe 22.222222222%,
        #fcfcfe 22.222222222%,
        #fcfcfe 27.777777778%,
        #fbfafd 27.777777778%,
        #fbfafd 33.333333333%,
        #f7f7fa 33.333333333%,
        #f7f7fa 38.888888889%,
        #f5f6fa 38.888888889%,
        #f5f6fa 44.444444444%,
        #f3f4f8 44.444444444%,
        #f3f4f8 50%,
        #f1f2f7 50%,
        #f1f2f7 55.555555556%,
        #eff0f6 55.555555556%,
        #eff0f6 61.111111111%,
        #edeef5 61.111111111%,
        #edeef5 66.666666667%,
        #e9e9f2 66.666666667%,
        #e9e9f2 72.222222222%,
        #e7e8f2 72.222222222%,
        #e7e8f2 77.777777778%,
        #e5e6f0 77.777777778%,
        #e5e6f0 83.333333333%,
        #e5e5f0 83.333333333%,
        #e5e5f0 88.888888889%,
        #e4e5f0 88.888888889%,
        #e4e5f0 94.444444444%,
        #e4e5f0 94.444444444%,
        #e4e5f0 100%
    );
    border: 1px solid;
    border-color: #767676;
    border-radius: 3px;
}

tooltip box label {
    color: #575757;
}

