toolbar {
    background-color: #f0f0f0;
    background-image: none;
    border-color: transparent;
    border-image: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    min-height: 0;
    min-width: 0;
    outline: none;
    padding: 0;
    text-shadow: none;
}

toolbar toolbutton button:hover,
toolbar toolbutton button.flat:hover {
    background: linear-gradient(to bottom,
        rgba(255,255,255,0.333333) 0%,
        rgba(255,255,255,0.333333) 3.125%,
        rgba(255,255,255,0.133333) 3.125%,
        rgba(255,255,255,0.133333) 6.25%,
        rgba(255,255,255,0.0) 6.25%,
        rgba(255,255,255,0.0) 9.375%,
        rgba(0,0,0,0.0125) 9.375%,
        rgba(0,0,0,0.0125) 12.5%,
        rgba(0,0,0,0.020833) 12.5%,
        rgba(0,0,0,0.020833) 15.625%,
        rgba(0,0,0,0.029167) 15.625%,
        rgba(0,0,0,0.029167) 18.75%,
        rgba(0,0,0,0.033333) 18.75%,
        rgba(0,0,0,0.033333) 31.25%,
        rgba(0,0,0,0.091667) 31.25%,
        rgba(0,0,0,0.091667) 37.5%,
        rgba(0,0,0,0.083333) 37.5%,
        rgba(0,0,0,0.083333) 46.875%,
        rgba(0,0,0,0.070833) 46.875%,
        rgba(0,0,0,0.070833) 53.125%,
        rgba(0,0,0,0.058333) 53.125%,
        rgba(0,0,0,0.058333) 59.375%,
        rgba(0,0,0,0.045833) 59.375%,
        rgba(0,0,0,0.045833) 68.75%,
        rgba(0,0,0,0.029167) 68.75%,
        rgba(0,0,0,0.029167) 75%,
        rgba(0,0,0,0.020833) 75%,
        rgba(0,0,0,0.020833) 81.25%,
        rgba(0,0,0,0.0125) 81.25%,
        rgba(0,0,0,0.0125) 90.625%,
        rgba(0,0,0,0.008333) 90.625%,
        rgba(0,0,0,0.008333) 96.875%,
        rgba(255,255,255,0.0) 96.875%,
        rgba(255,255,255,0.0) 100%
    );
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    box-shadow: inset 0 0 0 1px alpha(#ffffff, 0.45);
}

toolbar toolbutton button:active,
toolbar toolbutton button:checked,
toolbar toolbutton button.flat:active,
toolbar toolbutton button.flat:checked {
    background: linear-gradient(to bottom,
        rgba(0,0,0,0.35) 0%,
        rgba(0,0,0,0.35) 2.941176471%,
        rgba(0,0,0,0.25) 2.941176471%,
        rgba(0,0,0,0.25) 5.882352941%,
        rgba(0,0,0,0.1625) 5.882352941%,
        rgba(0,0,0,0.1625) 8.823529412%,
        rgba(0,0,0,0.129167) 8.823529412%,
        rgba(0,0,0,0.129167) 11.764705882%,
        rgba(0,0,0,0.104167) 11.764705882%,
        rgba(0,0,0,0.104167) 14.705882353%,
        rgba(0,0,0,0.0875) 14.705882353%,
        rgba(0,0,0,0.0875) 17.647058824%,
        rgba(0,0,0,0.070833) 17.647058824%,
        rgba(0,0,0,0.070833) 20.588235294%,
        rgba(0,0,0,0.058333) 20.588235294%,
        rgba(0,0,0,0.058333) 23.529411765%,
        rgba(0,0,0,0.05) 23.529411765%,
        rgba(0,0,0,0.05) 32.352941176%,
        rgba(0,0,0,0.075) 32.352941176%,
        rgba(0,0,0,0.075) 38.235294118%,
        rgba(0,0,0,0.070833) 38.235294118%,
        rgba(0,0,0,0.070833) 47.058823529%,
        rgba(0,0,0,0.0625) 47.058823529%,
        rgba(0,0,0,0.0625) 52.941176471%,
        rgba(0,0,0,0.054167) 52.941176471%,
        rgba(0,0,0,0.054167) 58.823529412%,
        rgba(0,0,0,0.045833) 58.823529412%,
        rgba(0,0,0,0.045833) 94.117647059%,
        rgba(0,0,0,0.041667) 94.117647059%,
        rgba(0,0,0,0.041667) 97.058823529%,
        rgba(0,0,0,0.054167) 97.058823529%,
        rgba(0,0,0,0.054167) 100%
    );
    border-radius: 3px;
    border: 1px solid #545454;
    box-shadow: inset 1px 0 0 rgba(0,0,0,0.199115),
        inset 2px 0 0 rgba(0,0,0,0.070796);
}
