tooltip {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 1.449275362%,
        #ffffff 1.449275362%,
        #ffffff 2.898550725%,
        #fefeff 2.898550725%,
        #fefeff 4.347826087%,
        #fefefe 4.347826087%,
        #fefefe 5.797101449%,
        #fefefe 5.797101449%,
        #fefefe 7.246376812%,
        #fefefe 7.246376812%,
        #fefefe 8.695652174%,
        #fefefe 8.695652174%,
        #fefefe 10.144927536%,
        #fefefe 10.144927536%,
        #fefefe 11.594202899%,
        #fcfcfe 11.594202899%,
        #fcfcfe 13.043478261%,
        #fcfcfe 13.043478261%,
        #fcfcfe 14.492753623%,
        #fcfcfe 14.492753623%,
        #fcfcfe 15.942028986%,
        #fcfcfe 15.942028986%,
        #fcfcfe 17.391304348%,
        #fbfafd 17.391304348%,
        #fbfafd 18.84057971%,
        #fbfafd 18.84057971%,
        #fbfafd 20.289855072%,
        #fbfafd 20.289855072%,
        #fbfafd 21.739130435%,
        #fbfafd 21.739130435%,
        #fbfafd 23.188405797%,
        #fbfafd 23.188405797%,
        #fbfafd 24.637681159%,
        #f9f9fb 24.637681159%,
        #f9f9fb 26.086956522%,
        #f9f9fb 26.086956522%,
        #f9f9fb 27.536231884%,
        #f9f9fb 27.536231884%,
        #f9f9fb 28.985507246%,
        #f9f9fb 28.985507246%,
        #f9f9fb 30.434782609%,
        #f9f9fb 30.434782609%,
        #f9f9fb 31.884057971%,
        #f7f7fa 31.884057971%,
        #f7f7fa 33.333333333%,
        #f7f7fa 33.333333333%,
        #f7f7fa 34.782608696%,
        #f7f7fa 34.782608696%,
        #f7f7fa 36.231884058%,
        #f7f7fa 36.231884058%,
        #f7f7fa 37.68115942%,
        #f7f7fa 37.68115942%,
        #f7f7fa 39.130434783%,
        #f5f6fa 39.130434783%,
        #f5f6fa 40.579710145%,
        #f5f6fa 40.579710145%,
        #f5f6fa 42.028985507%,
        #f5f6fa 42.028985507%,
        #f5f6fa 43.47826087%,
        #f5f6fa 43.47826087%,
        #f5f6fa 44.927536232%,
        #f3f4f8 44.927536232%,
        #f3f4f8 46.376811594%,
        #f3f4f8 46.376811594%,
        #f3f4f8 47.826086957%,
        #f3f4f8 47.826086957%,
        #f3f4f8 49.275362319%,
        #f3f4f8 49.275362319%,
        #f3f4f8 50.724637681%,
        #f3f4f8 50.724637681%,
        #f3f4f8 52.173913043%,
        #f1f2f7 52.173913043%,
        #f1f2f7 53.623188406%,
        #f1f2f7 53.623188406%,
        #f1f2f7 55.072463768%,
        #f1f2f7 55.072463768%,
        #f1f2f7 56.52173913%,
        #f1f2f7 56.52173913%,
        #f1f2f7 57.971014493%,
        #f1f2f7 57.971014493%,
        #f1f2f7 59.420289855%,
        #eff0f6 59.420289855%,
        #eff0f6 60.869565217%,
        #eff0f6 60.869565217%,
        #eff0f6 62.31884058%,
        #eff0f6 62.31884058%,
        #eff0f6 63.768115942%,
        #eff0f6 63.768115942%,
        #eff0f6 65.217391304%,
        #edeef5 65.217391304%,
        #edeef5 66.666666667%,
        #edeef5 66.666666667%,
        #edeef5 68.115942029%,
        #edeef5 68.115942029%,
        #edeef5 69.565217391%,
        #edeef5 69.565217391%,
        #edeef5 71.014492754%,
        #edeef5 71.014492754%,
        #edeef5 72.463768116%,
        #eaebf4 72.463768116%,
        #eaebf4 73.913043478%,
        #eaebf4 73.913043478%,
        #eaebf4 75.362318841%,
        #eaebf4 75.362318841%,
        #eaebf4 76.811594203%,
        #eaebf4 76.811594203%,
        #eaebf4 78.260869565%,
        #eaebf4 78.260869565%,
        #eaebf4 79.710144928%,
        #e9e9f2 79.710144928%,
        #e9e9f2 81.15942029%,
        #e9e9f2 81.15942029%,
        #e9e9f2 82.608695652%,
        #e9e9f2 82.608695652%,
        #e9e9f2 84.057971014%,
        #e9e9f2 84.057971014%,
        #e9e9f2 85.507246377%,
        #e9e9f2 85.507246377%,
        #e9e9f2 86.956521739%,
        #e7e8f2 86.956521739%,
        #e7e8f2 88.405797101%,
        #e7e8f2 88.405797101%,
        #e7e8f2 89.855072464%,
        #e7e8f2 89.855072464%,
        #e7e8f2 91.304347826%,
        #e7e8f2 91.304347826%,
        #e7e8f2 92.753623188%,
        #e5e6f0 92.753623188%,
        #e5e6f0 94.202898551%,
        #e5e6f0 94.202898551%,
        #e5e6f0 95.652173913%,
        #e5e6f0 95.652173913%,
        #e5e6f0 97.101449275%,
        #e5e6f0 97.101449275%,
        #e5e6f0 98.550724638%,
        #e5e6f0 98.550724638%,
        #e5e6f0 100%
    );
    border: 1px solid;
    border-color: #767676;
    border-radius: 3px;
}

tooltip box label {
    color: #575757;
}

