treeview.view {
    background-color: #fcfcfc;
}

treeview.view header button {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 4.545454545%,
        #ffffff 4.545454545%,
        #ffffff 9.090909091%,
        #ffffff 9.090909091%,
        #ffffff 13.636363636%,
        #ffffff 13.636363636%,
        #ffffff 18.181818182%,
        #ffffff 18.181818182%,
        #ffffff 22.727272727%,
        #ffffff 22.727272727%,
        #ffffff 27.272727273%,
        #ffffff 27.272727273%,
        #ffffff 31.818181818%,
        #ffffff 31.818181818%,
        #ffffff 36.363636364%,
        #ffffff 36.363636364%,
        #ffffff 40.909090909%,
        #f7f8fa 40.909090909%,
        #f7f8fa 45.454545455%,
        #f7f8fa 45.454545455%,
        #f7f8fa 50%,
        #f6f7f9 50%,
        #f6f7f9 54.545454545%,
        #f6f7f9 54.545454545%,
        #f6f7f9 59.090909091%,
        #f6f7f9 59.090909091%,
        #f6f7f9 63.636363636%,
        #f5f6f8 63.636363636%,
        #f5f6f8 68.181818182%,
        #f5f6f8 68.181818182%,
        #f5f6f8 72.727272727%,
        #f4f5f7 72.727272727%,
        #f4f5f7 77.272727273%,
        #f3f4f6 77.272727273%,
        #f3f4f6 81.818181818%,
        #f3f4f6 81.818181818%,
        #f3f4f6 86.363636364%,
        #f2f3f5 86.363636364%,
        #f2f3f5 90.909090909%,
        #f1f2f4 90.909090909%,
        #f1f2f4 95.454545455%,
        #f1f2f4 95.454545455%,
        #f1f2f4 100%
    );
    border-top: 0;
    border-bottom: 1px solid #d5d5d5;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow:
        inset -2px 0 0 rgba(255,255,255,0.45),
        inset 1px 0 0 rgba(255,255,255,0.45),
        inset -1px 0 0 rgba(0,0,0,0.15);
    color: #000000;
    min-height: 19px;
    min-width: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    transition: none;
}

treeview.view header button:hover {
    background-image: linear-gradient(to bottom,
        #e3f7ff 0%,
        #e3f7ff 4.545454545%,
        #e3f7ff 4.545454545%,
        #e3f7ff 9.090909091%,
        #e3f7ff 9.090909091%,
        #e3f7ff 13.636363636%,
        #e3f7ff 13.636363636%,
        #e3f7ff 18.181818182%,
        #e3f7ff 18.181818182%,
        #e3f7ff 22.727272727%,
        #e3f7ff 22.727272727%,
        #e3f7ff 27.272727273%,
        #e3f7ff 27.272727273%,
        #e3f7ff 31.818181818%,
        #e3f7ff 31.818181818%,
        #e3f7ff 36.363636364%,
        #e3f7ff 36.363636364%,
        #e3f7ff 40.909090909%,
        #bdedff 40.909090909%,
        #bdedff 45.454545455%,
        #bdedff 45.454545455%,
        #bdedff 50%,
        #bdedff 50%,
        #bdedff 54.545454545%,
        #bcecfe 54.545454545%,
        #bcecfe 59.090909091%,
        #bcecfe 59.090909091%,
        #bcecfe 63.636363636%,
        #bbebfe 63.636363636%,
        #bbebfe 68.181818182%,
        #bbebfe 68.181818182%,
        #bbebfe 72.727272727%,
        #baeefd 72.727272727%,
        #baeefd 77.272727273%,
        #bae6fd 77.272727273%,
        #bae6fd 81.818181818%,
        #b9e9fc 81.818181818%,
        #b9e9fc 86.363636364%,
        #b9e5fc 86.363636364%,
        #b9e5fc 90.909090909%,
        #b7e7fb 90.909090909%,
        #b7e7fb 95.454545455%,
        #b7e7fb 95.454545455%,
        #b7e7fb 100%
    );
    border-top: 0;
    border-bottom: 1px solid #93c9e3;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow:
        inset 1px 0 0 rgba(20,65,85,0.25),
        inset -1px 0 0 rgba(20,65,85,0.25);
}

treeview.view header button:focus:active {
    background-image: linear-gradient(to bottom,
        #f2f9fc 0%,
        #f2f9fc 4.545454545%,
        #f2f9fc 4.545454545%,
        #f2f9fc 9.090909091%,
        #f2f9fc 9.090909091%,
        #f2f9fc 13.636363636%,
        #f2f9fc 13.636363636%,
        #f2f9fc 18.181818182%,
        #f2f9fc 18.181818182%,
        #f2f9fc 22.727272727%,
        #f2f9fc 22.727272727%,
        #f2f9fc 27.272727273%,
        #f2f9fc 27.272727273%,
        #f2f9fc 31.818181818%,
        #f2f9fc 31.818181818%,
        #f2f9fc 36.363636364%,
        #f2f9fc 36.363636364%,
        #f2f9fc 40.909090909%,
        #e1f1f9 40.909090909%,
        #e1f1f9 45.454545455%,
        #e1f1f9 45.454545455%,
        #e1f1f9 50%,
        #e0f1f9 50%,
        #e0f1f9 54.545454545%,
        #dff0f8 54.545454545%,
        #dff0f8 59.090909091%,
        #dff0f8 59.090909091%,
        #dff0f8 63.636363636%,
        #dff0f8 63.636363636%,
        #dff0f8 68.181818182%,
        #ddeff8 68.181818182%,
        #ddeff8 72.727272727%,
        #dceef7 72.727272727%,
        #dceef7 77.272727273%,
        #dbeff7 77.272727273%,
        #dbeff7 81.818181818%,
        #daecf6 81.818181818%,
        #daecf6 86.363636364%,
        #d9eef7 86.363636364%,
        #d9eef7 90.909090909%,
        #d9ecf6 90.909090909%,
        #d9ecf6 95.454545455%,
        #d8ecf6 95.454545455%,
        #d8ecf6 100%
    );
    border-top: 0;
    border-bottom: 1px solid #96d9f9;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow:
        inset 1px 0 0 rgba(150,217,249,1.00),
        inset -1px 0 0 rgba(150,217,249,1.00);
}

treeview.view header button:focus {
    background-image: linear-gradient(to bottom,
        #bce4f9 0%,
        #bce4f9 4.545454545%,
        #bce4f9 4.545454545%,
        #bce4f9 9.090909091%,
        #bce4f9 9.090909091%,
        #bce4f9 13.636363636%,
        #bce4f9 13.636363636%,
        #bce4f9 18.181818182%,
        #bce4f9 18.181818182%,
        #bce4f9 22.727272727%,
        #bce4f9 22.727272727%,
        #bce4f9 27.272727273%,
        #bce4f9 27.272727273%,
        #bce4f9 31.818181818%,
        #bce4f9 31.818181818%,
        #bce4f9 36.363636364%,
        #bce4f9 36.363636364%,
        #bce4f9 40.909090909%,
        #8dd6f7 40.909090909%,
        #8dd6f7 45.454545455%,
        #8dd6f7 45.454545455%,
        #8dd6f7 50%,
        #8dd6f7 50%,
        #8dd6f7 54.545454545%,
        #8cd4f6 54.545454545%,
        #8cd4f6 59.090909091%,
        #8cd4f6 59.090909091%,
        #8cd4f6 63.636363636%,
        #8cd3f6 63.636363636%,
        #8cd3f6 68.181818182%,
        #8cd3f6 68.181818182%,
        #8cd3f6 72.727272727%,
        #8bd6f6 72.727272727%,
        #8bd6f6 77.272727273%,
        #8bd1f6 77.272727273%,
        #8bd1f6 81.818181818%,
        #8bd2f5 81.818181818%,
        #8bd2f5 86.363636364%,
        #8bd0f5 86.363636364%,
        #8bd0f5 90.909090909%,
        #8ad1f5 90.909090909%,
        #8ad1f5 95.454545455%,
        #8ad1f5 95.454545455%,
        #8ad1f5 100%
    );
    border-top: 0;
    border-bottom: 1px solid #93c9e3;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow:
        inset 0 2px 0 rgba(0,0,0,0.10),
        inset 2px 0 0 rgba(0,0,0,0.10),
        inset -2px 0 0 rgba(0,0,0,0.10),
        inset 0 1px 0 rgba(0,0,0,0.25),
        inset 1px 0 0 rgba(0,0,0,0.25),
        inset -1px 0 0 rgba(0,0,0,0.25);
}

check {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal.png"));
    min-height: 13px;
    min-width: 13px;
    padding: 3px;
}

check:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal-hover.png"));
}

check:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal-pressed.png"));
}

check:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal-disabled.png"));
}

check:checked {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked.png"));
}

check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked-hover.png"));
}

check:checked:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked-pressed.png"));
}

check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked-disabled.png"));
}

check:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate.png"));
}

check:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate-hover.png"));
}

check:indeterminate:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate-pressed.png"));
}

check:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate-disabled.png"));
}

radio {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal.png"));
    min-height: 12px;
    min-width: 12px;
    padding: 4px;
}

radio:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal-hover.png"));
}

radio:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal-pressed.png"));
}

radio:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal-disabled.png"));
}

radio:checked {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked.png"));
}

radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked-hover.png"));
}

radio:checked:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked-pressed.png"));
}

radio:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked-disabled.png"));
}

radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate.png"));
}

radio:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate-hover.png"));
}

radio:indeterminate:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate-pressed.png"));
}

radio:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate-disabled.png"));
}

treeview.view.trough {
    background-color: #e6e6e6;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
}

treeview.view.progressbar {
    background-color: #06b025;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
}
