treeview.view {
    background-color: #fcfcfc;
    color: #000000;
}

treeview.view:disabled {
    color: #6d6d6d;
}

treeview.view:selected {
    background-image: linear-gradient(to bottom,
        rgba(113, 154, 202, 0.952941176) 0.000000000%,
        rgba(113, 154, 202, 0.952941176) 1.351351351%,
        rgba(231, 242, 252, 0.964705882) 1.351351351%,
        rgba(231, 242, 252, 0.964705882) 2.702702703%,
        rgba(211, 230, 252, 0.921568627) 2.702702703%,
        rgba(211, 230, 252, 0.921568627) 4.054054054%,
        rgba(211, 229, 252, 0.921568627) 4.054054054%,
        rgba(211, 229, 252, 0.921568627) 5.405405405%,
        rgba(210, 229, 252, 0.921568627) 5.405405405%,
        rgba(210, 229, 252, 0.921568627) 9.459459459%,
        rgba(208, 229, 252, 0.921568627) 9.459459459%,
        rgba(208, 229, 252, 0.921568627) 10.810810811%,
        rgba(208, 227, 252, 0.921568627) 10.810810811%,
        rgba(208, 227, 252, 0.921568627) 12.162162162%,
        rgba(207, 228, 252, 0.917647059) 12.162162162%,
        rgba(207, 228, 252, 0.917647059) 16.216216216%,
        rgba(207, 227, 252, 0.917647059) 16.216216216%,
        rgba(207, 227, 252, 0.917647059) 18.918918919%,
        rgba(206, 227, 252, 0.917647059) 18.918918919%,
        rgba(206, 227, 252, 0.917647059) 21.621621622%,
        rgba(204, 226, 252, 0.921568627) 21.621621622%,
        rgba(204, 226, 252, 0.921568627) 24.324324324%,
        rgba(203, 226, 252, 0.921568627) 24.324324324%,
        rgba(203, 226, 252, 0.921568627) 25.675675676%,
        rgba(203, 225, 252, 0.921568627) 25.675675676%,
        rgba(203, 225, 252, 0.921568627) 28.378378378%,
        rgba(203, 225, 252, 0.917647059) 28.378378378%,
        rgba(203, 225, 252, 0.917647059) 31.081081081%,
        rgba(200, 223, 252, 0.917647059) 31.081081081%,
        rgba(200, 223, 252, 0.917647059) 35.135135135%,
        rgba(200, 223, 253, 0.917647059) 35.135135135%,
        rgba(200, 223, 253, 0.917647059) 37.837837838%,
        rgba(199, 223, 253, 0.917647059) 37.837837838%,
        rgba(199, 223, 253, 0.917647059) 40.540540541%,
        rgba(197, 223, 253, 0.917647059) 40.540540541%,
        rgba(197, 223, 253, 0.917647059) 41.891891892%,
        rgba(196, 223, 253, 0.917647059) 41.891891892%,
        rgba(196, 223, 253, 0.917647059) 43.243243243%,
        rgba(196, 222, 253, 0.917647059) 43.243243243%,
        rgba(196, 222, 253, 0.917647059) 45.945945946%,
        rgba(196, 220, 253, 0.917647059) 45.945945946%,
        rgba(196, 220, 253, 0.917647059) 47.297297297%,
        rgba(195, 220, 253, 0.917647059) 47.297297297%,
        rgba(195, 220, 253, 0.917647059) 48.648648649%,
        rgba(193, 220, 253, 0.913725490) 48.648648649%,
        rgba(193, 220, 253, 0.913725490) 50.000000000%,
        rgba(193, 219, 253, 0.917647059) 50.000000000%,
        rgba(193, 219, 253, 0.917647059) 51.351351351%,
        rgba(192, 219, 253, 0.917647059) 51.351351351%,
        rgba(192, 219, 253, 0.917647059) 55.405405405%,
        rgba(191, 219, 253, 0.917647059) 55.405405405%,
        rgba(191, 219, 253, 0.917647059) 56.756756757%,
        rgba(190, 219, 253, 0.917647059) 56.756756757%,
        rgba(190, 219, 253, 0.917647059) 58.108108108%,
        rgba(190, 219, 253, 0.913725490) 58.108108108%,
        rgba(190, 219, 253, 0.913725490) 59.459459459%,
        rgba(189, 219, 253, 0.913725490) 59.459459459%,
        rgba(189, 219, 253, 0.913725490) 62.162162162%,
        rgba(189, 216, 253, 0.913725490) 62.162162162%,
        rgba(189, 216, 253, 0.913725490) 63.513513514%,
        rgba(188, 216, 253, 0.913725490) 63.513513514%,
        rgba(188, 216, 253, 0.913725490) 66.216216216%,
        rgba(186, 216, 253, 0.913725490) 66.216216216%,
        rgba(186, 216, 253, 0.913725490) 67.567567568%,
        rgba(185, 216, 253, 0.913725490) 67.567567568%,
        rgba(185, 216, 253, 0.913725490) 72.972972973%,
        rgba(184, 216, 253, 0.913725490) 72.972972973%,
        rgba(184, 216, 253, 0.913725490) 74.324324324%,
        rgba(184, 214, 253, 0.913725490) 74.324324324%,
        rgba(184, 214, 253, 0.913725490) 75.675675676%,
        rgba(182, 214, 253, 0.913725490) 75.675675676%,
        rgba(182, 214, 253, 0.913725490) 78.378378378%,
        rgba(181, 215, 254, 0.913725490) 78.378378378%,
        rgba(181, 215, 254, 0.913725490) 79.729729730%,
        rgba(181, 213, 254, 0.909803922) 79.729729730%,
        rgba(181, 213, 254, 0.909803922) 83.783783784%,
        rgba(180, 212, 254, 0.909803922) 83.783783784%,
        rgba(180, 212, 254, 0.909803922) 86.486486486%,
        rgba(178, 212, 254, 0.909803922) 86.486486486%,
        rgba(178, 212, 254, 0.909803922) 95.945945946%,
        rgba(178, 211, 254, 0.909803922) 95.945945946%,
        rgba(178, 211, 254, 0.909803922) 97.297297297%,
        rgba(213, 231, 252, 0.960784314) 97.297297297%,
        rgba(213, 231, 252, 0.960784314) 98.648648649%,
        rgba(113, 154, 202, 0.952941176) 98.648648649%,
        rgba(113, 154, 202, 0.952941176) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(231, 242, 252, 0.964705882),
        inset 0 -2px 0 rgba(213, 231, 252, 0.960784314),
        inset 0 -1px 0 rgba(113, 154, 202, 0.952941176),
        inset 0 1px 0 rgba(113, 154, 202, 0.952941176);
    color: #000000;
    text-shadow: none;
}

treeview.view header button {
    background-image: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 4.545454545%,
        #ffffff 4.545454545%,
        #ffffff 9.090909091%,
        #ffffff 9.090909091%,
        #ffffff 13.636363636%,
        #ffffff 13.636363636%,
        #ffffff 18.181818182%,
        #ffffff 18.181818182%,
        #ffffff 22.727272727%,
        #ffffff 22.727272727%,
        #ffffff 27.272727273%,
        #ffffff 27.272727273%,
        #ffffff 31.818181818%,
        #ffffff 31.818181818%,
        #ffffff 36.363636364%,
        #ffffff 36.363636364%,
        #ffffff 40.909090909%,
        #f7f8fa 40.909090909%,
        #f7f8fa 45.454545455%,
        #f7f8fa 45.454545455%,
        #f7f8fa 50%,
        #f6f7f9 50%,
        #f6f7f9 54.545454545%,
        #f6f7f9 54.545454545%,
        #f6f7f9 59.090909091%,
        #f6f7f9 59.090909091%,
        #f6f7f9 63.636363636%,
        #f5f6f8 63.636363636%,
        #f5f6f8 68.181818182%,
        #f5f6f8 68.181818182%,
        #f5f6f8 72.727272727%,
        #f4f5f7 72.727272727%,
        #f4f5f7 77.272727273%,
        #f3f4f6 77.272727273%,
        #f3f4f6 81.818181818%,
        #f3f4f6 81.818181818%,
        #f3f4f6 86.363636364%,
        #f2f3f5 86.363636364%,
        #f2f3f5 90.909090909%,
        #f1f2f4 90.909090909%,
        #f1f2f4 95.454545455%,
        #f1f2f4 95.454545455%,
        #f1f2f4 100%
    );
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow:
        inset -2px 0 0 rgba(255,255,255,0.60),
        inset -1px 0 0 rgba(0,0,0,0.065),
        inset 1px 0 0 rgba(255,255,255,0.45);
    color: #000000;
    font-size: 12px;
    margin: 0;
    min-height: 0;
    min-width: 0;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
}

treeview.view header button:hover {
    background-image: linear-gradient(to bottom,
        #e3f7ff 0%,
        #e3f7ff 4.545454545%,
        #e3f7ff 4.545454545%,
        #e3f7ff 9.090909091%,
        #e3f7ff 9.090909091%,
        #e3f7ff 13.636363636%,
        #e3f7ff 13.636363636%,
        #e3f7ff 18.181818182%,
        #e3f7ff 18.181818182%,
        #e3f7ff 22.727272727%,
        #e3f7ff 22.727272727%,
        #e3f7ff 27.272727273%,
        #e3f7ff 27.272727273%,
        #e3f7ff 31.818181818%,
        #e3f7ff 31.818181818%,
        #e3f7ff 36.363636364%,
        #e3f7ff 36.363636364%,
        #e3f7ff 40.909090909%,
        #bdedff 40.909090909%,
        #bdedff 45.454545455%,
        #bdedff 45.454545455%,
        #bdedff 50%,
        #bdedff 50%,
        #bdedff 54.545454545%,
        #bcecfe 54.545454545%,
        #bcecfe 59.090909091%,
        #bcecfe 59.090909091%,
        #bcecfe 63.636363636%,
        #bbebfe 63.636363636%,
        #bbebfe 68.181818182%,
        #bbebfe 68.181818182%,
        #bbebfe 72.727272727%,
        #baeefd 72.727272727%,
        #baeefd 77.272727273%,
        #bae6fd 77.272727273%,
        #bae6fd 81.818181818%,
        #b9e9fc 81.818181818%,
        #b9e9fc 86.363636364%,
        #b9e5fc 86.363636364%,
        #b9e5fc 90.909090909%,
        #b7e7fb 90.909090909%,
        #b7e7fb 95.454545455%,
        #b7e7fb 95.454545455%,
        #b7e7fb 100%
    );
    border-bottom: 1px solid #93c9e3;
    border-radius: 0;
    box-shadow:
        inset 1px 0 0 rgba(1,124,191,0.444),
        inset -1px 0 0 rgba(1,124,191,0.444);
    margin: 0;
    min-height: 0;
    min-width: 0;
}

treeview.view header button:focus:active {
    background-image: linear-gradient(to bottom,
        #bce4f9 0%,
        #bce4f9 4.545454545%,
        #bce4f9 4.545454545%,
        #bce4f9 9.090909091%,
        #bce4f9 9.090909091%,
        #bce4f9 13.636363636%,
        #bce4f9 13.636363636%,
        #bce4f9 18.181818182%,
        #bce4f9 18.181818182%,
        #bce4f9 22.727272727%,
        #bce4f9 22.727272727%,
        #bce4f9 27.272727273%,
        #bce4f9 27.272727273%,
        #bce4f9 31.818181818%,
        #bce4f9 31.818181818%,
        #bce4f9 36.363636364%,
        #bce4f9 36.363636364%,
        #bce4f9 40.909090909%,
        #8dd6f7 40.909090909%,
        #8dd6f7 45.454545455%,
        #8dd6f7 45.454545455%,
        #8dd6f7 50%,
        #8dd6f7 50%,
        #8dd6f7 54.545454545%,
        #8cd4f6 54.545454545%,
        #8cd4f6 59.090909091%,
        #8cd4f6 59.090909091%,
        #8cd4f6 63.636363636%,
        #8cd3f6 63.636363636%,
        #8cd3f6 68.181818182%,
        #8cd3f6 68.181818182%,
        #8cd3f6 72.727272727%,
        #8bd6f6 72.727272727%,
        #8bd6f6 77.272727273%,
        #8bd1f6 77.272727273%,
        #8bd1f6 81.818181818%,
        #8bd2f5 81.818181818%,
        #8bd2f5 86.363636364%,
        #8bd0f5 86.363636364%,
        #8bd0f5 90.909090909%,
        #8ad1f5 90.909090909%,
        #8ad1f5 95.454545455%,
        #8ad1f5 95.454545455%,
        #8ad1f5 100%
    );
    border-bottom: 1px solid #93c9e3;
    border-radius: 0;
    box-shadow:
        inset -3px 0 0 rgba(0,120,224,0.0426),
        inset 2px 0 0 rgba(0,79,122,0.1915),
        inset -2px 0 0 rgba(25,91,126,0.1915),
        inset 0 2px 0 rgba(4,3,4,0.098),
        inset 0 1px 0 rgba(1,5,5,0.213),
        inset -1px 0 0 rgba(1,45,63,0.300),
        inset 1px 0 0 rgba(1,45,63,0.300);
    margin: 0;
    min-height: 0;
    min-width: 0;
}

treeview.view header button:focus {
    background-image: linear-gradient(to bottom,
        #f2f9fc 0%,
        #f2f9fc 4.545454545%,
        #f2f9fc 4.545454545%,
        #f2f9fc 9.090909091%,
        #f2f9fc 9.090909091%,
        #f2f9fc 13.636363636%,
        #f2f9fc 13.636363636%,
        #f2f9fc 18.181818182%,
        #f2f9fc 18.181818182%,
        #f2f9fc 22.727272727%,
        #f2f9fc 22.727272727%,
        #f2f9fc 27.272727273%,
        #f2f9fc 27.272727273%,
        #f2f9fc 31.818181818%,
        #f2f9fc 31.818181818%,
        #f2f9fc 36.363636364%,
        #f2f9fc 36.363636364%,
        #f2f9fc 40.909090909%,
        #e1f1f9 40.909090909%,
        #e1f1f9 45.454545455%,
        #e1f1f9 45.454545455%,
        #e1f1f9 50%,
        #e0f1f9 50%,
        #e0f1f9 54.545454545%,
        #dff0f8 54.545454545%,
        #dff0f8 59.090909091%,
        #dff0f8 59.090909091%,
        #dff0f8 63.636363636%,
        #dff0f8 63.636363636%,
        #dff0f8 68.181818182%,
        #ddeff8 68.181818182%,
        #ddeff8 72.727272727%,
        #dceef7 72.727272727%,
        #dceef7 77.272727273%,
        #dbeff7 77.272727273%,
        #dbeff7 81.818181818%,
        #daecf6 81.818181818%,
        #daecf6 86.363636364%,
        #d9eef7 86.363636364%,
        #d9eef7 90.909090909%,
        #d9ecf6 90.909090909%,
        #d9ecf6 95.454545455%,
        #d8ecf6 95.454545455%,
        #d8ecf6 100%
    );
    border-bottom: 1px solid #96d9f9;
    border-radius: 0;
    box-shadow:
        inset -1px 0 0 #96d9f9,
        inset 1px 0 0 #96d9f9;
    margin: 0;
    min-height: 0;
    min-width: 0;
}

check {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal.png"));
    min-height: 13px;
    min-width: 13px;
    padding: 3px;
}

check:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal-hover.png"));
}

check:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal-pressed.png"));
}

check:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/normal-disabled.png"));
}

check:checked {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked.png"));
}

check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked-hover.png"));
}

check:checked:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked-pressed.png"));
}

check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/checked-disabled.png"));
}

check:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate.png"));
}

check:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate-hover.png"));
}

check:indeterminate:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate-pressed.png"));
}

check:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/checkbuttons/indeterminate-disabled.png"));
}

radio {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal.png"));
    min-height: 12px;
    min-width: 12px;
    padding: 4px;
}

radio:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal-hover.png"));
}

radio:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal-pressed.png"));
}

radio:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/normal-disabled.png"));
}

radio:checked {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked.png"));
}

radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked-hover.png"));
}

radio:checked:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked-pressed.png"));
}

radio:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/checked-disabled.png"));
}

radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate.png"));
}

radio:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate-hover.png"));
}

radio:indeterminate:active {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate-pressed.png"));
}

radio:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("../../assets/ui/radiobuttons/indeterminate-disabled.png"));
}

treeview.view.trough,
treeview.view.trough:selected:focus {
    background-color: #7a93b1;
    background-image: none;
    border-radius: 0;
    box-shadow:
        inset 1px 0 0 #808080,
        inset 0 1px 0 #808080,
        inset -1px 0 0 #ffffff,
        inset 0 -1px 0 #ffffff;
    color: #000000;
}

treeview.view.progressbar,
treeview.view.progressbar:selected:focus {
    background-clip: padding-box;
    background-color: #99cc33;
    background-image: none;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 1px solid transparent;
    border-top: 0;
    box-shadow:
        inset -1px 0 0 #7a93b1,
        inset 2px 0 0 #7a93b1,
        inset 0 2px 0 #7a93b1,
        inset 0 -2px 0 #7a93b1,
        inset 1px 0 0 #808080,
        inset 0 1px 0 #808080,
        inset 0 -1px 0 #ffffff;
    color: #000000;
}
