.thunar toolbar {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
        #fafcfd 0%,
        #fafcfd 3.225806452%,
        #fdfeff 3.225806452%,
        #fdfeff 6.451612903%,
        #f9fcff 6.451612903%,
        #f9fcff 9.677419355%,
        #f5faff 9.677419355%,
        #f5faff 12.903225806%,
        #f4f9ff 12.903225806%,
        #f4f9ff 16.129032258%,
        #f3f8fe 16.129032258%,
        #f3f8fe 19.35483871%,
        #f1f8fe 19.35483871%,
        #f1f8fe 22.580645161%,
        #f0f7fe 22.580645161%,
        #f0f7fe 25.806451613%,
        #eef6fd 25.806451613%,
        #eef6fd 29.032258065%,
        #edf5fd 29.032258065%,
        #edf5fd 32.258064516%,
        #ecf4fc 32.258064516%,
        #ecf4fc 35.483870968%,
        #eaf3fc 35.483870968%,
        #eaf3fc 38.709677419%,
        #e9f2fb 38.709677419%,
        #e9f2fb 41.935483871%,
        #e7f1fb 41.935483871%,
        #e7f1fb 45.161290323%,
        #e6f0fa 45.161290323%,
        #e6f0fa 48.387096774%,
        #dce6f4 48.387096774%,
        #dce6f4 51.612903226%,
        #dce6f4 51.612903226%,
        #dce6f4 54.838709677%,
        #dce6f4 54.838709677%,
        #dce6f4 58.064516129%,
        #dce6f4 58.064516129%,
        #dce6f4 61.290322581%,
        #dce6f4 61.290322581%,
        #dce6f4 64.516129032%,
        #dce6f4 64.516129032%,
        #dce6f4 67.741935484%,
        #dce6f5 67.741935484%,
        #dce6f5 70.967741935%,
        #dce6f5 70.967741935%,
        #dce6f5 74.193548387%,
        #dce7f5 74.193548387%,
        #dce7f5 77.419354839%,
        #dce7f5 77.419354839%,
        #dce7f5 80.64516129%,
        #dce7f5 80.64516129%,
        #dce7f5 83.870967742%,
        #dce7f6 83.870967742%,
        #dce7f6 87.096774194%,
        #dde9f7 87.096774194%,
        #dde9f7 90.322580645%,
        #e4effb 90.322580645%,
        #e4effb 93.548387097%,
        #cddaea 93.548387097%,
        #cddaea 96.774193548%,
        #a0afc3 96.774193548%,
        #a0afc3 100%
    );
    min-height: 31px;
}

.thunar .path-bar button {
    background-image: linear-gradient(to bottom,
        #fafcfe 0%,
        #fafcfe 5%,
        #eaf1f9 5%,
        #eaf1f9 10%,
        #ebf2f9 10%,
        #ebf2f9 15%,
        #ecf2f9 15%,
        #ecf2f9 20%,
        #ecf2f9 20%,
        #ecf2f9 25%,
        #ecf2f9 25%,
        #ecf2f9 30%,
        #ecf2f9 30%,
        #ecf2f9 35%,
        #ecf2f9 35%,
        #ecf2f9 40%,
        #ecf2f9 40%,
        #ecf2f9 45%,
        #ecf2f9 45%,
        #ecf2f9 50%,
        #ecf2f9 50%,
        #ecf2f9 55%,
        #ecf2f9 55%,
        #ecf2f9 60%,
        #ecf2f9 60%,
        #ecf2f9 65%,
        #ecf2f9 65%,
        #ecf2f9 70%,
        #ecf2f9 70%,
        #ecf2f9 75%,
        #ecf2f9 75%,
        #ecf2f9 80%,
        #ebf2f9 80%,
        #ebf2f9 85%,
        #ebf2f9 85%,
        #ebf2f9 90%,
        #eaf1f9 90%,
        #eaf1f9 95%,
        #f9fbfd 95%,
        #f9fbfd 100%
    );
    border-top: 1px solid #636363;
    border-bottom: 1px solid #c8c8c8;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    font-size: 12px;
    margin-left: 0px;
    padding: 1px 5px 2px 2px;
}

.thunar .path-bar button:first-child {
    border-left: 1px solid #808080;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.thunar .path-bar button:last-child {
    border-right: 1px solid #808080;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.thunar .path-bar button label {
    color: #000000;
}

.thunar .path-bar button:hover {
    background-image: linear-gradient(to bottom,
        #ecf7fe 0%,
        #ecf7fe 5%,
        #eaf6fd 5%,
        #eaf6fd 10%,
        #e8f6fd 10%,
        #e8f6fd 15%,
        #e6f5fd 15%,
        #e6f5fd 20%,
        #e4f4fd 20%,
        #e4f4fd 25%,
        #e2f3fc 25%,
        #e2f3fc 30%,
        #dff2fc 30%,
        #dff2fc 35%,
        #ddf1fc 35%,
        #ddf1fc 40%,
        #daf0fc 40%,
        #daf0fc 45%,
        #d7effc 45%,
        #d7effc 50%,
        #bde6fd 50%,
        #bde6fd 55%,
        #bae4fc 55%,
        #bae4fc 60%,
        #b7e3fb 60%,
        #b7e3fb 65%,
        #b4e1fa 65%,
        #b4e1fa 70%,
        #b1dff9 70%,
        #b1dff9 75%,
        #aedef8 75%,
        #aedef8 80%,
        #abdcf7 80%,
        #abdcf7 85%,
        #a9daf5 85%,
        #a9daf5 90%,
        #a6d9f4 90%,
        #a6d9f4 95%,
        #a3d7f3 95%,
        #a3d7f3 100%
    );
    box-shadow:
        inset 2px 0 0 rgba(255,255,254,0.742),
        inset -2px 0 0 rgba(255,255,254,0.742),
        inset 0 1px 0 rgba(255,255,254,0.748),
        inset 0 -1px 0 rgba(255,255,254,0.750),
        inset 1px 0 0 #3c7fb1,
        inset -1px 0 0 #3c7fb1;
}

.thunar .path-bar button:hover:active {
    background-image: linear-gradient(to bottom,
        #c2e4f6 0%,
        #c2e4f6 5%,
        #c2e4f6 5%,
        #c2e4f6 10%,
        #c2e4f6 10%,
        #c2e4f6 15%,
        #c2e4f6 15%,
        #c2e4f6 20%,
        #c2e4f6 20%,
        #c2e4f6 25%,
        #c2e4f6 25%,
        #c2e4f6 30%,
        #c2e4f6 30%,
        #c2e4f6 35%,
        #c2e4f6 35%,
        #c2e4f6 40%,
        #c2e4f6 40%,
        #c2e4f6 45%,
        #c2e4f6 45%,
        #c2e4f6 50%,
        #a9d9f2 50%,
        #a9d9f2 55%,
        #a9d9f2 55%,
        #a9d9f2 60%,
        #a6d7f2 60%,
        #a6d7f2 65%,
        #a3d5f1 65%,
        #a3d5f1 70%,
        #9fd4f0 70%,
        #9fd4f0 75%,
        #9cd2ee 75%,
        #9cd2ee 80%,
        #98d0ed 80%,
        #98d0ed 85%,
        #95ceec 85%,
        #95ceec 90%,
        #92cceb 90%,
        #92cceb 95%,
        #90cbeb 95%,
        #90cbeb 100%
    );
    box-shadow:
        inset 0 2px 0 rgba(1,28,49,0.145),
        inset 3px 0 0 rgba(1,28,49,0.145),
        inset 0 1px 0 rgba(5,32,50,0.3475),
        inset 2px 0 0 rgba(5,32,50,0.3475),
        inset 1px 0 0 #2c628b,
        inset -1px 0 0 #2c628b;
}

.thunar .path-bar button:hover:active label {
    margin: 1px -1px -1px 1px;
}

.thunar .path-bar button:backdrop {
    background-image: linear-gradient(to bottom,
        #fcfdfe 0%,
        #fcfdfe 5%,
        #f3f7fb 5%,
        #f3f7fb 10%,
        #f4f7fb 10%,
        #f4f7fb 15%,
        #f4f7fb 15%,
        #f4f7fb 20%,
        #f4f8fb 20%,
        #f4f8fb 25%,
        #f4f8fb 25%,
        #f4f8fb 30%,
        #f4f8fb 30%,
        #f4f8fb 35%,
        #f4f8fb 35%,
        #f4f8fb 40%,
        #f4f8fb 40%,
        #f4f8fb 45%,
        #f4f8fb 45%,
        #f4f8fb 50%,
        #f4f8fb 50%,
        #f4f8fb 55%,
        #f4f8fb 55%,
        #f4f8fb 60%,
        #f4f8fb 60%,
        #f4f8fb 65%,
        #f4f8fb 65%,
        #f4f8fb 70%,
        #f4f8fb 70%,
        #f4f8fb 75%,
        #f4f7fb 75%,
        #f4f7fb 80%,
        #f4f7fb 80%,
        #f4f7fb 85%,
        #f3f7fb 85%,
        #f3f7fb 90%,
        #f3f7fb 90%,
        #f3f7fb 95%,
        #fbfdfe 95%,
        #fbfdfe 100%
    );
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #bdbdbd;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
    font-size: 12px;
    margin-left: 0px;
    padding: 1px 5px 2px 2px;
}

.thunar .path-bar button:first-child:backdrop {
    border-left: 1px solid #7c7c7c;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.thunar .path-bar button:last-child:backdrop {
    border-right: 1px solid #787878;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.thunar .path-bar button:backdrop label {
    color: #434e54;
}

.thunar toolbar entry {
    margin: 5px 0px 5px 0px;
}

.thunar .frame scrolledwindow,
.thunar scrolledwindow.frame {
    border: none;
}

.thunar .standard-view .view {
    background-color: #fcfcfc
}

window.thunar grid.horizontal paned.horizontal grid.horizontal > widget,
window.thunar statusbar {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
        #ccd9ea 0%,
        #ccd9ea 1.886792453%,
        #d9e3f0 1.886792453%,
        #d9e3f0 3.773584906%,
        #e8eef7 3.773584906%,
        #e8eef7 5.660377358%,
        #edf2f9 5.660377358%,
        #edf2f9 7.547169811%,
        #f0f4fa 7.547169811%,
        #f0f4fa 9.433962264%,
        #f1f5fb 9.433962264%,
        #f1f5fb 11.320754717%,
        #f1f5fb 11.320754717%,
        #f1f5fb 13.20754717%,
        #f1f5fb 13.20754717%,
        #f1f5fb 15.094339623%,
        #f1f5fb 15.094339623%,
        #f1f5fb 16.981132075%,
        #f1f5fb 16.981132075%,
        #f1f5fb 18.867924528%,
        #f1f5fb 18.867924528%,
        #f1f5fb 20.754716981%,
        #f1f5fb 20.754716981%,
        #f1f5fb 22.641509434%,
        #f1f5fb 22.641509434%,
        #f1f5fb 24.528301887%,
        #f1f5fb 24.528301887%,
        #f1f5fb 26.41509434%,
        #f1f5fb 26.41509434%,
        #f1f5fb 28.301886792%,
        #f1f5fb 28.301886792%,
        #f1f5fb 30.188679245%,
        #f1f5fb 30.188679245%,
        #f1f5fb 32.075471698%,
        #f1f5fb 32.075471698%,
        #f1f5fb 33.962264151%,
        #f1f5fb 33.962264151%,
        #f1f5fb 35.849056604%,
        #f1f5fb 35.849056604%,
        #f1f5fb 37.735849057%,
        #f1f5fb 37.735849057%,
        #f1f5fb 39.622641509%,
        #f1f5fb 39.622641509%,
        #f1f5fb 41.509433962%,
        #f1f5fb 41.509433962%,
        #f1f5fb 43.396226415%,
        #f1f5fb 43.396226415%,
        #f1f5fb 45.283018868%,
        #f1f5fb 45.283018868%,
        #f1f5fb 47.169811321%,
        #f1f5fb 47.169811321%,
        #f1f5fb 49.056603774%,
        #f1f5fb 49.056603774%,
        #f1f5fb 50.943396226%,
        #f1f5fb 50.943396226%,
        #f1f5fb 52.830188679%,
        #f1f5fb 52.830188679%,
        #f1f5fb 54.716981132%,
        #f1f5fb 54.716981132%,
        #f1f5fb 56.603773585%,
        #f1f5fb 56.603773585%,
        #f1f5fb 58.490566038%,
        #f1f5fb 58.490566038%,
        #f1f5fb 60.377358491%,
        #f1f5fb 60.377358491%,
        #f1f5fb 62.264150943%,
        #f1f5fb 62.264150943%,
        #f1f5fb 64.150943396%,
        #f1f5fb 64.150943396%,
        #f1f5fb 66.037735849%,
        #f1f5fb 66.037735849%,
        #f1f5fb 67.924528302%,
        #f1f5fb 67.924528302%,
        #f1f5fb 69.811320755%,
        #f1f5fb 69.811320755%,
        #f1f5fb 71.698113208%,
        #f1f5fb 71.698113208%,
        #f1f5fb 73.58490566%,
        #f1f5fb 73.58490566%,
        #f1f5fb 75.471698113%,
        #f1f5fb 75.471698113%,
        #f1f5fb 77.358490566%,
        #f1f5fb 77.358490566%,
        #f1f5fb 79.245283019%,
        #f1f5fb 79.245283019%,
        #f1f5fb 81.132075472%,
        #f1f5fb 81.132075472%,
        #f1f5fb 83.018867925%,
        #f1f5fb 83.018867925%,
        #f1f5fb 84.905660377%,
        #f1f5fb 84.905660377%,
        #f1f5fb 86.79245283%,
        #f1f5fb 86.79245283%,
        #f1f5fb 88.679245283%,
        #f1f5fb 88.679245283%,
        #f1f5fb 90.566037736%,
        #f1f5fb 90.566037736%,
        #f1f5fb 92.452830189%,
        #f1f5fb 92.452830189%,
        #f1f5fb 94.339622642%,
        #f1f5fb 94.339622642%,
        #f1f5fb 96.226415094%,
        #f1f5fb 96.226415094%,
        #f1f5fb 98.113207547%,
        #f1f5fb 98.113207547%,
        #f1f5fb 100%
    );
    color: #1e395b;
    min-height: 53px;
}

window.thunar statusbar label {
    color: #1e395b;
	padding-bottom: 21px;
}
