#clock-button {
    margin-right: -16px;
    margin-top: 1px;
}

#clock-button > box > box > label {
    color: #ffffff;
}

#clock-button > box > box > label:first-child {
    margin-bottom: -2px;
    margin-right: -3px;
}
