#showdesktop-button {
    background-image: url("../../../assets/xfce/panel/showdesktop/showdesktop-standard.png");
    background-position: 2px 0;
    background-repeat: no-repeat;
    background-size: 15px 40px;

    margin: 0 -17px 0 25px;
    min-width: 17px;
    padding: 0;
}

#showdesktop-button:hover {
    background-image: url("../../../assets/xfce/panel/showdesktop/showdesktop-hover.png");
}

#showdesktop-button:active:hover {
    background-image: url("../../../assets/xfce/panel/showdesktop/showdesktop-pressed.png");
}

#showdesktop-button image {
    opacity: 0;
}
