#whiskermenu-window scrolledwindow > viewport {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

#whiskermenu-window button.category-button {
    background-color: transparent;
    background-image:
        linear-gradient(
        90deg,
            rgba(0, 0, 0, 0.00) 0%,
            rgba(0, 0, 0, 0.00) 100%
            ),
        linear-gradient(
        180deg,
            rgba(0, 0, 0, 0.00) 0%,
            rgba(0, 0, 0, 0.00) 100%
        );
    border: 1px solid rgba(0, 0, 0, 0.00);
    border-radius: 5px;
    box-shadow:
        0 0 0 2px rgba(0, 0, 0, 0.00) inset,
        0 0 0 1px rgba(0, 0, 0, 0.00) inset;
    color: #ffffff;
    margin: 1px 1px 0 0px;
    padding: 7px 12px 7px 12px;
}

#whiskermenu-window button.category-button label {
    color: #ffffff;
    font-size: 12px;
    margin: 0 5px 0 -5px;
}

#whiskermenu-window button.category-button:hover {
    background-color: transparent;
    background-image:
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.183) 0%,
            rgba(0, 0, 0, 0.183) 4%,
            rgba(0, 0, 0, 0.155) 8%,
            rgba(0, 0, 0, 0.134) 11%,
            rgba(0, 0, 0, 0.104) 15%,
            rgba(0, 0, 0, 0.084) 19%,
            rgba(0, 0, 0, 0.050) 25%,
            rgba(0, 0, 0, 0.029) 30%,
            rgba(0, 0, 0, 0.013) 38%,
            rgba(0, 0, 0, 0.000) 50%,
            rgba(0, 0, 0, 0.015) 63%,
            rgba(0, 0, 0, 0.035) 71%,
            rgba(0, 0, 0, 0.050) 76%,
            rgba(0, 0, 0, 0.084) 82%,
            rgba(0, 0, 0, 0.125) 87%,
            rgba(0, 0, 0, 0.145) 91%,
            rgba(0, 0, 0, 0.183) 96%,
            rgba(0, 0, 0, 0.183) 100%
            ),
        linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.321) 0%,
            rgba(255, 255, 255, 0.321) 4%,
            rgba(255, 255, 255, 0.308) 8%,
            rgba(255, 255, 255, 0.291) 12%,
            rgba(255, 255, 255, 0.291) 15%,
            rgba(255, 255, 255, 0.259) 19%,
            rgba(255, 255, 255, 0.233) 23%,
            rgba(255, 255, 255, 0.203) 27%,
            rgba(255, 255, 255, 0.180) 31%,
            rgba(255, 255, 255, 0.156) 35%,
            rgba(255, 255, 255, 0.137) 38%,
            rgba(255, 255, 255, 0.124) 42%,
            rgba(255, 255, 255, 0.122) 50%,
            rgba(255, 255, 255, 0.122) 51.8%,
            rgba(0, 0, 0, 0.087) 51.9%,
            rgba(0, 0, 0, 0.087) 58%,
            rgba(0, 0, 0, 0.074) 62%,
            rgba(0, 0, 0, 0.049) 65%,
            rgba(0, 0, 0, 0.014) 69%,
            rgba(0, 0, 0, 0.000) 71.8%,
            rgba(255, 255, 255, 0.015) 71.9%,
            rgba(255, 255, 255, 0.042) 77%,
            rgba(255, 255, 255, 0.070) 81%,
            rgba(255, 255, 255, 0.094) 89%,
            rgba(255, 255, 255, 0.116) 92%,
            rgba(255, 255, 255, 0.143) 96%,
            rgba(255, 255, 255, 0.154) 100%
        );
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 5px;
    box-shadow:
        0 0 0 2px rgba(255, 255, 255, 0.30) inset,
        0 0 0 1px rgba(0, 0, 0, 1.00) inset;
    color: #ffffff;
    margin: 1px 1px 0 0px;
    padding: 7px 12px 7px 12px;
}

#whiskermenu-window scrolledwindow.frame.launchers-pane {
    margin: 0 -1px 0 0px;
}
