#whiskermenu-window treeview {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    color: #282828;
    padding-left: 1px;
}

#whiskermenu-window treeview.view:selected {
    background-image: linear-gradient(to bottom,
        rgba(113, 155, 206, 0.941176471) 0.000000000%,
        rgba(113, 155, 206, 0.941176471) 1.351351351%,
        rgba(231, 243, 253, 0.949019608) 1.351351351%,
        rgba(231, 243, 253, 0.949019608) 2.702702703%,
        rgba(212, 232, 255, 0.901960784) 2.702702703%,
        rgba(212, 232, 255, 0.901960784) 4.054054054%,
        rgba(212, 231, 255, 0.901960784) 4.054054054%,
        rgba(212, 231, 255, 0.901960784) 5.405405405%,
        rgba(211, 231, 255, 0.901960784) 5.405405405%,
        rgba(211, 231, 255, 0.901960784) 9.459459459%,
        rgba(209, 231, 255, 0.901960784) 9.459459459%,
        rgba(209, 231, 255, 0.901960784) 10.810810811%,
        rgba(209, 229, 255, 0.898039216) 10.810810811%,
        rgba(209, 229, 255, 0.898039216) 12.162162162%,
        rgba(208, 229, 255, 0.898039216) 12.162162162%,
        rgba(208, 229, 255, 0.898039216) 16.216216216%,
        rgba(208, 229, 255, 0.901960784) 16.216216216%,
        rgba(208, 229, 255, 0.901960784) 18.918918919%,
        rgba(207, 229, 255, 0.898039216) 18.918918919%,
        rgba(207, 229, 255, 0.898039216) 21.621621622%,
        rgba(205, 229, 255, 0.898039216) 21.621621622%,
        rgba(205, 229, 255, 0.898039216) 24.324324324%,
        rgba(204, 229, 255, 0.901960784) 24.324324324%,
        rgba(204, 229, 255, 0.901960784) 25.675675676%,
        rgba(204, 228, 255, 0.901960784) 25.675675676%,
        rgba(204, 228, 255, 0.901960784) 28.378378378%,
        rgba(203, 228, 255, 0.898039216) 28.378378378%,
        rgba(203, 228, 255, 0.898039216) 31.081081081%,
        rgba(202, 226, 255, 0.898039216) 31.081081081%,
        rgba(202, 226, 255, 0.898039216) 33.783783784%,
        rgba(200, 226, 255, 0.898039216) 33.783783784%,
        rgba(200, 226, 255, 0.898039216) 35.135135135%,
        rgba(200, 225, 255, 0.898039216) 35.135135135%,
        rgba(200, 225, 255, 0.898039216) 40.540540541%,
        rgba(197, 225, 255, 0.898039216) 40.540540541%,
        rgba(197, 225, 255, 0.898039216) 41.891891892%,
        rgba(196, 225, 255, 0.898039216) 41.891891892%,
        rgba(196, 225, 255, 0.898039216) 43.243243243%,
        rgba(196, 224, 255, 0.898039216) 43.243243243%,
        rgba(196, 224, 255, 0.898039216) 45.945945946%,
        rgba(196, 222, 255, 0.898039216) 45.945945946%,
        rgba(196, 222, 255, 0.898039216) 47.297297297%,
        rgba(195, 222, 255, 0.894117647) 47.297297297%,
        rgba(195, 222, 255, 0.894117647) 48.648648649%,
        rgba(193, 222, 255, 0.894117647) 48.648648649%,
        rgba(193, 222, 255, 0.894117647) 50.000000000%,
        rgba(193, 221, 255, 0.894117647) 50.000000000%,
        rgba(193, 221, 255, 0.894117647) 51.351351351%,
        rgba(192, 221, 255, 0.894117647) 51.351351351%,
        rgba(192, 221, 255, 0.894117647) 56.756756757%,
        rgba(190, 221, 255, 0.894117647) 56.756756757%,
        rgba(190, 221, 255, 0.894117647) 58.108108108%,
        rgba(190, 220, 255, 0.894117647) 58.108108108%,
        rgba(190, 220, 255, 0.894117647) 59.459459459%,
        rgba(189, 220, 255, 0.894117647) 59.459459459%,
        rgba(189, 220, 255, 0.894117647) 62.162162162%,
        rgba(189, 218, 255, 0.894117647) 62.162162162%,
        rgba(189, 218, 255, 0.894117647) 63.513513514%,
        rgba(188, 218, 255, 0.894117647) 63.513513514%,
        rgba(188, 218, 255, 0.894117647) 66.216216216%,
        rgba(186, 218, 255, 0.894117647) 66.216216216%,
        rgba(186, 218, 255, 0.894117647) 67.567567568%,
        rgba(185, 218, 255, 0.894117647) 67.567567568%,
        rgba(185, 218, 255, 0.894117647) 72.972972973%,
        rgba(184, 219, 255, 0.890196078) 72.972972973%,
        rgba(184, 219, 255, 0.890196078) 74.324324324%,
        rgba(184, 218, 255, 0.890196078) 74.324324324%,
        rgba(184, 218, 255, 0.890196078) 75.675675676%,
        rgba(182, 218, 255, 0.890196078) 75.675675676%,
        rgba(182, 218, 255, 0.890196078) 78.378378378%,
        rgba(181, 218, 255, 0.890196078) 78.378378378%,
        rgba(181, 218, 255, 0.890196078) 79.729729730%,
        rgba(181, 216, 255, 0.890196078) 79.729729730%,
        rgba(181, 216, 255, 0.890196078) 83.783783784%,
        rgba(181, 214, 255, 0.890196078) 83.783783784%,
        rgba(181, 214, 255, 0.890196078) 86.486486486%,
        rgba(178, 214, 255, 0.890196078) 86.486486486%,
        rgba(178, 214, 255, 0.890196078) 89.189189189%,
        rgba(177, 215, 255, 0.890196078) 89.189189189%,
        rgba(177, 215, 255, 0.890196078) 95.945945946%,
        rgba(178, 214, 255, 0.890196078) 95.945945946%,
        rgba(178, 214, 255, 0.890196078) 97.297297297%,
        rgba(213, 231, 254, 0.945098039) 97.297297297%,
        rgba(213, 231, 254, 0.945098039) 98.648648649%,
        rgba(113, 155, 206, 0.941176471) 98.648648649%,
        rgba(113, 155, 206, 0.941176471) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(231, 243, 253, 0.949019608),
        inset 2px 0 0 rgba(224, 238, 253, 0.949019608),
        inset -2px 0 0 rgba(224, 238, 253, 0.949019608),
        inset 0 -2px 0 rgba(213, 231, 254, 0.945098039),
        inset 0 0 0 1px rgba(113, 155, 206, 0.941176471);
}
