#whiskermenu-window treeview {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    color: #282828;
    padding-left: 1px;
}

#whiskermenu-window treeview.view:selected {
    background-image: linear-gradient(to bottom,
        rgba(113, 154, 202, 0.952941176) 0.000000000%,
        rgba(113, 154, 202, 0.952941176) 1.351351351%,
        rgba(231, 242, 252, 0.964705882) 1.351351351%,
        rgba(231, 242, 252, 0.964705882) 2.702702703%,
        rgba(211, 230, 252, 0.921568627) 2.702702703%,
        rgba(211, 230, 252, 0.921568627) 4.054054054%,
        rgba(211, 229, 252, 0.921568627) 4.054054054%,
        rgba(211, 229, 252, 0.921568627) 5.405405405%,
        rgba(210, 229, 252, 0.921568627) 5.405405405%,
        rgba(210, 229, 252, 0.921568627) 9.459459459%,
        rgba(208, 229, 252, 0.921568627) 9.459459459%,
        rgba(208, 229, 252, 0.921568627) 10.810810811%,
        rgba(208, 227, 252, 0.921568627) 10.810810811%,
        rgba(208, 227, 252, 0.921568627) 12.162162162%,
        rgba(207, 228, 252, 0.917647059) 12.162162162%,
        rgba(207, 228, 252, 0.917647059) 16.216216216%,
        rgba(207, 227, 252, 0.917647059) 16.216216216%,
        rgba(207, 227, 252, 0.917647059) 18.918918919%,
        rgba(206, 227, 252, 0.917647059) 18.918918919%,
        rgba(206, 227, 252, 0.917647059) 21.621621622%,
        rgba(204, 226, 252, 0.921568627) 21.621621622%,
        rgba(204, 226, 252, 0.921568627) 24.324324324%,
        rgba(203, 226, 252, 0.921568627) 24.324324324%,
        rgba(203, 226, 252, 0.921568627) 25.675675676%,
        rgba(203, 225, 252, 0.921568627) 25.675675676%,
        rgba(203, 225, 252, 0.921568627) 28.378378378%,
        rgba(203, 225, 252, 0.917647059) 28.378378378%,
        rgba(203, 225, 252, 0.917647059) 31.081081081%,
        rgba(200, 223, 252, 0.917647059) 31.081081081%,
        rgba(200, 223, 252, 0.917647059) 35.135135135%,
        rgba(200, 223, 253, 0.917647059) 35.135135135%,
        rgba(200, 223, 253, 0.917647059) 37.837837838%,
        rgba(199, 223, 253, 0.917647059) 37.837837838%,
        rgba(199, 223, 253, 0.917647059) 40.540540541%,
        rgba(197, 223, 253, 0.917647059) 40.540540541%,
        rgba(197, 223, 253, 0.917647059) 41.891891892%,
        rgba(196, 223, 253, 0.917647059) 41.891891892%,
        rgba(196, 223, 253, 0.917647059) 43.243243243%,
        rgba(196, 222, 253, 0.917647059) 43.243243243%,
        rgba(196, 222, 253, 0.917647059) 45.945945946%,
        rgba(196, 220, 253, 0.917647059) 45.945945946%,
        rgba(196, 220, 253, 0.917647059) 47.297297297%,
        rgba(195, 220, 253, 0.917647059) 47.297297297%,
        rgba(195, 220, 253, 0.917647059) 48.648648649%,
        rgba(193, 220, 253, 0.913725490) 48.648648649%,
        rgba(193, 220, 253, 0.913725490) 50.000000000%,
        rgba(193, 219, 253, 0.917647059) 50.000000000%,
        rgba(193, 219, 253, 0.917647059) 51.351351351%,
        rgba(192, 219, 253, 0.917647059) 51.351351351%,
        rgba(192, 219, 253, 0.917647059) 55.405405405%,
        rgba(191, 219, 253, 0.917647059) 55.405405405%,
        rgba(191, 219, 253, 0.917647059) 56.756756757%,
        rgba(190, 219, 253, 0.917647059) 56.756756757%,
        rgba(190, 219, 253, 0.917647059) 58.108108108%,
        rgba(190, 219, 253, 0.913725490) 58.108108108%,
        rgba(190, 219, 253, 0.913725490) 59.459459459%,
        rgba(189, 219, 253, 0.913725490) 59.459459459%,
        rgba(189, 219, 253, 0.913725490) 62.162162162%,
        rgba(189, 216, 253, 0.913725490) 62.162162162%,
        rgba(189, 216, 253, 0.913725490) 63.513513514%,
        rgba(188, 216, 253, 0.913725490) 63.513513514%,
        rgba(188, 216, 253, 0.913725490) 66.216216216%,
        rgba(186, 216, 253, 0.913725490) 66.216216216%,
        rgba(186, 216, 253, 0.913725490) 67.567567568%,
        rgba(185, 216, 253, 0.913725490) 67.567567568%,
        rgba(185, 216, 253, 0.913725490) 72.972972973%,
        rgba(184, 216, 253, 0.913725490) 72.972972973%,
        rgba(184, 216, 253, 0.913725490) 74.324324324%,
        rgba(184, 214, 253, 0.913725490) 74.324324324%,
        rgba(184, 214, 253, 0.913725490) 75.675675676%,
        rgba(182, 214, 253, 0.913725490) 75.675675676%,
        rgba(182, 214, 253, 0.913725490) 78.378378378%,
        rgba(181, 215, 254, 0.913725490) 78.378378378%,
        rgba(181, 215, 254, 0.913725490) 79.729729730%,
        rgba(181, 213, 254, 0.909803922) 79.729729730%,
        rgba(181, 213, 254, 0.909803922) 83.783783784%,
        rgba(180, 212, 254, 0.909803922) 83.783783784%,
        rgba(180, 212, 254, 0.909803922) 86.486486486%,
        rgba(178, 212, 254, 0.909803922) 86.486486486%,
        rgba(178, 212, 254, 0.909803922) 95.945945946%,
        rgba(178, 211, 254, 0.909803922) 95.945945946%,
        rgba(178, 211, 254, 0.909803922) 97.297297297%,
        rgba(213, 231, 252, 0.960784314) 97.297297297%,
        rgba(213, 231, 252, 0.960784314) 98.648648649%,
        rgba(113, 154, 202, 0.952941176) 98.648648649%,
        rgba(113, 154, 202, 0.952941176) 100.000000000%
    );
    box-shadow:
        inset 0 2px 0 rgba(231, 242, 252, 0.964705882),
        inset 2px 0 0 rgba(223, 237, 252, 0.960784314),
        inset -2px 0 0 rgba(223, 237, 252, 0.960784314),
        inset 0 -2px 0 rgba(213, 231, 252, 0.960784314),
        inset 0 0 0 1px rgba(113, 154, 202, 0.952941176);
}
