/* Panel Colors */
@define-color panel_base  #99b4d1; /* CHANGE THIS VALUE HERE TO CHANGE THE COLORS OF THE PANEL AND MENU. */
@define-color accent      @panel_base;

@define-color edge_dark   mix(@accent, #000000, 0.607844);
@define-color edge_light  mix(@accent, #ffffff, 0.392156);


/* Panel Background */
.xfce4-panel.background {
  background-color: transparent;

  background-image: /* SET THE OPACITY HERE: 0.00 = TRANSPARENT, 1.00 = OPAQUE */
    linear-gradient(alpha(@edge_dark, 0.75), alpha(@edge_dark, 0.75)),
    linear-gradient(alpha(@edge_light, 0.75), alpha(@edge_light, 0.75)),
    linear-gradient(alpha(@panel_base, 0.75), alpha(@panel_base, 0.75));

  background-size: 100% 1px, 100% 1px, 100% 100%;
  background-position: 0 0, 0 1px, 0 0;
  background-repeat: no-repeat;
}

/* Whiskermenu Colors */
@define-color wm_base @accent;

@define-color wm_0    mix(@wm_base, #000000, 0.184314);
@define-color wm_14   mix(@wm_base, #000000, 0.415686);
@define-color wm_50   mix(@wm_base, #000000, 0.635294);
@define-color wm_56   mix(@wm_base, #000000, 0.635294);
@define-color wm_86   mix(@wm_base, #000000, 0.352941);
@define-color wm_100  mix(@wm_base, #000000, 0.066667);

/* Whiskermenu Background */
#whiskermenu-window {
  background-color: transparent;

  background-image: linear-gradient(to bottom,
    @wm_0    0%,
    @wm_14   14%,
    @wm_50   50%,
    @wm_56   56%,
    @wm_86   86%,
    @wm_100  100%
  );

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;

  box-shadow: inset 0 0 0px 2px @edge_light;

  border-radius: 0px;
  background-clip: padding-box;
}

#whiskermenu-window border {
  border-color: @edge_dark;
}
